<div class="content">
  <h2><%= t('artifact.create') %></h2>
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#menu1"><%= t('monument.singular') %></a></li>
      <li><a href="#menu2"><%= t('object.singular') %></a></li>
      <li><a href="#menu3"><%= t('artifact.singular') %></a></li>
    </ul>
    
    <div id="home">
      <legend>Сведения об исследование</legend>
      <div class="checkbox">
        <label for="new-author-checkbox">
          <input id="new-author-checkbox" type="checkbox" dynamic="true"></input>
          Добавить нового автора
        </label>
      </div>

      <div class="form-group" toggle-by="new-author-checkbox" need-option="false">
        <label for="author-input">Автор исследования <span class="required">*</span></label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" hidden type="id" name="id" data-req="up"></input>
      </div>
      <div class="form-group" toggle-by="new-author-checkbox" need-option="true">
        <label for="author-name-input">Имя <span class="required">*</span></label>
        <input class="form-control" id="author-name-input" data-for="author:Author" type="text" name="name" data-req></input>
      </div>

      <div class="checkbox" toggle-by="new-author-checkbox" need-option="true">
        <label for="more-author-checkbox">
          <input id="more-author-checkbox" type="checkbox" dynamic="true"></input>
          Дополнительная информация об авторе
        </label>
      </div>
      
      <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
        <label for="author-birth-date-input">Год рождения</label>
        <input class="form-control" id="author-birth-date-input" data-for="author:Author" type="number" name="birthdate"></input>
      </div>
      <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
        <label for="author-photo-input">Фотография</label>
        <input id="author-photo-input" data-for="aimg:Image" type="file" name="fileid" data-subclass="AuthorImage"></input>
      </div>

      <div class="form-group">
        <label for="coauthor-input">Соавторы</label>
        <%= widget("SearchLine", coauthorsInputOptions, "coauthor-input") %>
        <input id="coauthor-input-id" data-few="true" data-for="co:Author" data-subclass="Coauthor" hidden type="id" name="id"></input>
      </div>
      <div class="checkbox">
        <label for="new-research-checkbox">
          <input id="new-research-checkbox" type="checkbox" dynamic="true"></input>
          Добавить новое исследование
        </label>
      </div>
      <div class="form-group" toggle-by="new-research-checkbox" need-option="false">
        <label for="research-input">Исследование <span class="required">*</span></label>
        <input class="form-control" id="research-input"></input>
        <input id="research-input-id" data-for="r:Research" hidden type="id" name="id" data-req="up"></input>
      </div>
      
      <div class="form-group" toggle-by="new-research-checkbox" need-option="true">
        <label for="research-title-input">Название <span class="required">*</span></label>
        <input class="form-control" id="research-title-input" data-for="r:Research" type="text" name="name" data-req></input>
      </div>
      <div class="form-group" toggle-by="new-research-checkbox" need-option="true">
        <label for="research-type-selector">Тип</label>
        <select class="form-control" id="research-type-selector" data-for="rt:ResearchType" type="id" name="id" dynamic="true"></select>
      </div>
      <div class="form-group" toggle-by="new-research-checkbox" need-option="true">
        <label for="research-year-input">Год</label>
        <input class="form-control" id="research-year-input" data-for="r:Research" type="number" name="year"></input>
      </div>

      <div class="checkbox" toggle-by="new-research-checkbox" need-option="true">
        <label for="more-research-checkbox">
          <input id="more-research-checkbox" type="checkbox" dynamic="true"></input>
          Дополнительная информация об исследовании
        </label>
      </div>
      <div class="form-group" toggle-by="more-research-checkbox" need-option="true">
        <label for="research-description-input">Описание исследования</label>
        <textarea class="form-control" id="research-description-input" data-for="r:Research" type="text" name="description"></textarea>
      </div>
      <br>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <h4 for="report-input">Добавление отчёта для исследования:</h4>
      </div>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <label for="report-name-input">Название <span class="required">*</span></label>
        <input class="form-control" id="report-name-input" data-for="rep:Report" type="text" name="name" data-req></input>
      </div>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <label for="report-year-input">Год <span class="required">*</span></label>
        <input class="form-control" id="report-year-input" data-for="rep:Report" type="number" name="year" data-req></input>
      </div>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <label for="report-city-input">Город</label>
        <%= widget("SearchLine", citiesInputOptions, "report-city-input") %>
        <input id="report-city-input-id" data-for="city:City" hidden type="id" name="id"></input>
        <!-- <input class="form-control" id="report-city-input" data-for="city:City" type="text" name="name"></input> -->
      </div>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <label for="report-organization-input">Организация (место хранения)</label>
        <input class="form-control" id="report-organization-input"></input>
        <input id="report-organization-input-id" data-for="org:Organization" type="id" hidden name="id"></input>
      </div>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <label for="report-code-input">Номер</label>
        <input class="form-control" id="report-code-input" data-for="rep:Report" type="text" name="code"></input>
      </div>
      <div class="form-group" toggle-by="research-type-selector" need-option="2.3">
        <label for="report-file-input">Файл отчета</label>
        <input id="report-file-input" type="file" data-for="rep:Report" name="fileid"></input>
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>
    <div id="menu1">
      <legend>Сведения о памятнике</legend>
      <div class="checkbox">
        <label for="new-monument-checkbox">
          <input id="new-monument-checkbox" type="checkbox" dynamic="true"></input>
          Добавить новый памятник
        </label>
      </div>
      <div class="form-group" toggle-by="new-monument-checkbox" need-option="false">
        <label>Выбрать существующий памятник <span class="required">*</span></label>
        <input class="form-control" id="monument-input"></input>
        <input id="monument-input-id" data-for="m:Monument" hidden type="id" name="id" data-req="up"></input>
      </div>

      <div class="form-group" toggle-by="new-monument-checkbox" need-option="true">
        <input id="monument-tmp-input" value="Костыль" hidden data-for="m:Monument" type="text" name="tmp"></input>
      </div>
      <div class="form-group">
        <label>Название памятника <span class="required">*</span></label>
        <input class="form-control" id="monument-name-input" data-for="k:Knowledge" type="text" name="monument_name" data-req></input>
      </div>
      <div class="form-group">
        <label>Описание памятника</label>
        <textarea class="form-control" id="monument-desc-input" data-for="k:Knowledge" type="text" name="description"></textarea>
      </div>
      <div class="form-group" toggle-by="new-monument-checkbox" need-option="true">
        <label for="epoch-selector">Эпоха</label>
        <select class="form-control" id="epoch-selector"  data-for="e:Epoch" type="id" name="id"></select>
      </div>
      <div class="form-group">
        <label for="culture-selector">Культура</label>
        <select class="form-control" id="culture-selector"  data-for="c:Culture" type="id" name="id"></select>
      </div>

      <div id="coord-picker" class="coords">
        <div class="form-group">
          <label for="monument-x">
            Координата X
          </label>
          <input class="form-control" id="monument-x" data-for="k:Knowledge" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="monument-y">
            Координата Y
          </label>
          <input class="form-control" id="monument-y" data-for="k:Knowledge" type="number" name="y"></input>
        </div>
      </div>

      <div class="alert alert-dismissible alert-info">
        Нажмите на кнопку для выбора координат. Формат для ручного заполнения: 55.5555, 49.5656.
      </div>
      <button class="btn btn-primary btn-next" active="2">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>
    
    <div id="menu2">
      <legend>Сведения об объекте</legend>
      <div class="form-group">
        <label for="complex-description-input">Описание</label>
        <textarea class="form-control" id="complex-description-input" data-for="c:Complex" type="text" name="description"></textarea>
      </div>
      <button class="btn btn-primary btn-next" active="3">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>
    <div id="menu3">
      <legend>Сведеия об артефакте</legend>
      <div class="form-group">
        <label for="artifact-name-input">Название <span class="required">*</span></label>
        <input class="form-control" id="artifact-name-input" data-for="a:Artifact" type="text" name="name" data-req></input>
      </div>

      <div class="form-group">
        <label for="artifact-name-input">Год находки</label>
        <input class="form-control" id="artifact-year-input" data-for="a:Artifact" type="number" name="year"></input>
      </div>

      <div class="form-group">
        <label for="artifact-name-input">Описание</label>
        <textarea class="form-control" id="artifact-name-input" data-for="a:Artifact" type="text" name="description"></textarea>
      </div>

      <div class="form-group">
        <label for="artifact-weight-input">Вес (в кг)</label>
        <input class="form-control" id="artifact-weight-input" data-for="a:Artifact" type="number" name="weight"></input>
      </div>

      <div class="form-group">
        <label for="artifact-photo-input">Фотография</label>
        <input id="artifact-photo-input" data-for="artimage:Image" type="file" name="fileid" data-subclass="ArtifactImage"></input>
      </div>

      <button id="send-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Создать
      </button>
      
    </div>
  </div>

</div>

<div class="maps">
  <%= widget("Map", {}, "map") %>
</div>
