<div class="main-page">
  <div class="main-page-bg"></div>
  <div class="main-page-content">
    <h1>Информационная система учета данных археологических исследований "ArchGIS"</h1>

    <h2 class="greeting-text">Добро пожаловать в информационную систему ArchGIS! </h2>
    <ul class="system-statistic">
      <li class="list-header">На текущий момент в системе учтены:</li>
      <li>Объектов культурного наследия - <span><%= okns %></span></li>
      <li>Памятников археологии - <span><%= mons %></span></li>
      <li>Археологических исследований - <span><%= ress %></span></li>
      <li>Артефактов - <span><%= arts %></span></li>
      <li>Отчетов об археологических исследованиях - <span><%= reps %></span></li>
      <li>Монографий - <span><%= monogs %></span></li>
      <li>Статей - <span><%= articles %></span></li>
      <li>Архивных документов - <span><%= archivedocs %></span></li>
      <li>Исследователей-археологов - <span><%= authors %></span></li>
    </ul>
  </div>
</div>