<div class="main-page">
  <div class="main-page-bg"></div>
  <div class="main-page-content">
    <h1>Информационная система учета данных археологических исследований "ArchGIS"</h1>

    <h2 class="greeting-text">Добро пожаловать в информационную систему ArchGIS! </h2>
    <ul class="system-statistic">
      <li class="list-header">На текущий момент в системе учтены:</li>
      <li>Объектов культурного наследия - <span><%= count[0] %></span></li>
      <li>Памятников археологии - <span><%= count[1] %></span></li>
      <li>Археологических исследований - <span><%= count[2] %></span></li>
      <li>Артефактов - <span><%= count[3] %></span></li>
      <li>Отчетов об археологических исследованиях - <span><%= count[4] %></span></li>
      <li>Монографий - <span><%= count[5] %></span></li>
      <li>Статей - <span><%= count[6] %></span></li>
      <li>Архивных документов - <span><%= count[7] %></span></li>
      <li>Исследователей-археологов - <span><%= count[8] %></span></li>
    </ul>
  </div>
</div>