<div class="main-page">
  <div class="main-page-bg"></div>
  <div class="main-page-content">
    <h1><%= t('mainpage.name') %></h1>

    <ul class="system-statistic">
      <li class="list-header"><%= t('mainpage.counts') %>:</li>
      <li><%= t('mainpage.heritage') %> - <span><%= count['Heritage'] %></span></li>
      <li><%= t('mainpage.site') %> - <span><%= count['Monument'] %></span></li>
      <li><%= t('mainpage.research') %> - <span><%= count['Research'] %></span></li>
      <li><%= t('mainpage.artifact') %> - <span><%= count['Artifact'] %></span></li>
      <li><%= t('mainpage.radiocarbon') %> - <span><%= count['Radiocarbon'] %></span></li>
      <li><%= t('mainpage.report') %> - <span><%= count['Report'] %></span></li>
      <li><%= t('mainpage.monography') %> - <span><%= count['Monography'] %></span></li>
      <li><%= t('mainpage.article') %> - <span><%= count['Article'] %></span></li>
      <li><%= t('mainpage.archiveDoc') %> - <span><%= count['ArchiveDoc'] %></span></li>
      <li><%= t('mainpage.author') %> - <span><%= count['Author'] %></span></li>
    </ul>
  </div>
</div>