<div class="content">  
  <h2><%= t("monument.info") %> "<%= mainName%>"</h2>
  <br>
  <dt>Все названия памятника:</dt>
  <dd><%= allNames %></dd>
  <dt>Эпоха:</dt>
  <dd><%= epoch[0].name %></dd>
  <br>
  <div id="accordion">
    <% var counter=1 %>
    <% _.each(researches, function(research, i) { %>
      <h4 class="accordion-header">
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
        <%= t("research.singular") %> №<%= counter++%>:
        <b><%= authors[i].name %>, <%= research.year %>
        <% if (resType[i]) { %>
          , <%= resType[i].name %>
        <% } %>
        </b>
      </h4>

      <div class="accordion-content">
        <dl>
          <dt></dt>
          <dd>
            <a href="#research/show/<%= research.id %>">
            Перейти к исследованию
          </a>
          </dd>
          <dt>Название, данное исследователем:</dt>
          <dd><%= knowledges[i].monument_name %></dd>
          <dt>Культурная принадлежность, определенная исследователем:</dt>
          <dd><%= cultures[i].name %></dd>
          <% if (research.description) { %>
            <dt>Описание:</dt>
            <dd><%= research.description %></dd>
          <% } %>
          <dt>Найденные артефакты:</dt>
          <dd>
            <% if (artifacts[i] && artifacts[i].length > 0) { %>
              <% var length = artifacts[i].length %>
              <% _.each(artifacts[i], function(artifact, i) { %>
                <a href="#artifact/show/<%= artifact.id %>">
                  <%= artifact.name%>
                </a>
                <% if (i < length-1) { %>
                ,
                <% } %>
              <% }); %>
            <% } else { %>
              нет
            <% } %>
          </dd>
          <% if (reports[i] && reports[i].report.length > 0) { %>
            <dt>Отчет:</dt>
            <dd><%= App.models.Report.href(reports[i].report[0].fileid, `${reports[i].report[0].name} (${reports[i].author[0].name}, ${reports[i].report[0].year})`) %></dd>
          <% } %>
        </dl>
      </div>
    <% }); %>
  </div>

  <div class="maps">
    <%= widget("Map", {"placemarks": placemarks}, "map") %>
  </div>
</div>