<div class="content">
  <h2><%= t('monument.singular') %></h2>
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#menu1"><%= t('okn.singular') %></a></li>
      <li><a href="#menu2"><%= t('monument.singular') %></a></li>
    </ul>
    
    <div id="home">
      <h3>Исследование</h3>
      <div>
        <label for="new-author-checkbox">Добавить нового автора</label>
        <input id="new-author-checkbox" type="checkbox" dynamic="true"></input>
      </div>
      <div class="flex-row" toggle-by="new-author-checkbox" need-option="false">
        <label for="author-input">Автор исследования</label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" type="hidden" name="id"></input>
      </div>

      <div class="flex-row" toggle-by="new-author-checkbox" need-option="true">
        <label for="author-name-input">Имя</label>
        <input id="author-name-input" data-for="author:Author" type="text" name="name"></input>
      </div>
      <div class="flex-row" toggle-by="new-author-checkbox" need-option="true">
        <label for="author-birth-date-input">Дата рождения</label>
        <input id="author-birth-date-input" data-for="author:Author" type="text" name="birth_date"></input>
      </div>

      <div class="top-indent">
        <label for="new-report-checkbox">Добавить новый отчет</label>
        <input id="new-report-checkbox" type="checkbox" dynamic="true"></input>
      </div>
      <div class="flex-row" toggle-by="new-report-checkbox" need-option="false">
        <label for="report-input">Отчет</label>
        <input id="report-input"></input>
        <input id="report-input-id" data-for="r:Report" type="hidden" name="id"></input>
      </div>
      
      <div class="flex-row" toggle-by="new-report-checkbox" need-option="true">
        <label for="report-title-input">Описание</label>
        <input id="report-title-input" data-for="r:Report" type="text" name="description"></input>
      </div>
      <div class="flex-row" toggle-by="new-report-checkbox" need-option="true">
        <label for="report-year-input">Год</label>
        <input id="report-year-input" data-for="r:Report" type="number" name="year"></input>
      </div>
      <div class="flex-row" toggle-by="new-report-checkbox" need-option="true">
        <label for="report-file-input">Файл отчета</label>
        <input id="report-file-input" type="file" name="file"></input>
      </div>
    </div>

    <div id="menu1">
      <h3>ОКН</h3>

      <div>
        <label for="new-heritage-object-checkbox">Добавить ОКН</label>
        <input id="new-heritage-object-checkbox" type="checkbox" dynamic="true"></input>
      </div>
      <div class="flex-row" toggle-by="new-heritage-object-checkbox" need-option="false">
        <label>Код</label>
        <input id="heritage-object-code-input" data-for="o:HeritageObject" type="text" name="code"></input>
      </div>

      <div class="flex-row" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label>Описание ОКН</label>
        <input id="heritage-object-description-input" data-for="o:HeritageObject" type="text" name="description"></input>
      </div>
      <div class="flex-row" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label>Описание границ</label>
        <input id="heritage-object-border-input" data-for="o:HeritageObject" type="text" name="border"></input>
      </div>
      <div class="flex-row" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label>Предмет охраны</label>
        <input id="heritage-object-security-input" data-for="o:HeritageObject" type="text" name="security"></input>
      </div>
    </div>

    <div id="menu2">
      <h3>Памятник</h3>

      <div class="flex-row">
        <label>Название памятника</label>
        <input id="monument-name-input" data-for="k:Knowledge" type="text" name="name"></input>
      </div>
      <div class="flex-row">
        <label>Эпоха</label>
        <input id="monument-input" data-for="m:Monument" type="text" name="epoch"></input>
      </div>
      <div class="flex-row">
        <label>Культура</label>
        <input id="monument-input" data-for="k:Knowledge" type="text" name="culture"></input>
      </div>

      <div class="coords">
        <div class="coord">
          <label>Координата X
            <input id="monument-x" data-for="m:Monument" type="text" name="x"></input>
          </label>
        </div>
        <div class="coord">
          <label>Координата Y
            <input id="monument-y" data-for="m:Monument" type="text" name="y"></input>
          </label>
        </div>
        <i id="pick-coord" class="fa fa-map-marker"></i>
      </div>
    </div>

  <button class="pure-button pure-button-primary" onclick="postQuery()">
    <i class="fa fa-cogs"></i>
    Создать
  </button>
</div>

<div class="maps">
  <%= widget("Map", {}, "map") %>
</div>
