<div class="content">
  <h2><%= t('monument.singular') %></h2>
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#menu1"><%= t('okn.singular') %></a></li>
      <li><a href="#menu2"><%= t('monument.singular') %></a></li>
    </ul>
    
    <div id="home">
      <legend>Исследование</legend>
      <div class="checkbox">
        <label for="new-author-checkbox">
          <input id="new-author-checkbox" type="checkbox" dynamic="true"></input>
          Добавить нового автора
        </label>

      </div>
      <div class="form-group" toggle-by="new-author-checkbox" need-option="false">
        <label for="author-input">Автор исследования <span class="required">*</span></label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" hidden type="id" name="id" data-req="up"></input>
      </div>

      <div class="form-group" toggle-by="new-author-checkbox" need-option="true">
        <label for="author-name-input">Имя <span class="required">*</span></label>
        <input class="form-control" id="author-name-input" data-for="author:Author" type="text" name="name" data-req></input>
      </div>

      <div class="checkbox" toggle-by="new-author-checkbox" need-option="true">
        <label for="more-author-checkbox">
          <input id="more-author-checkbox" type="checkbox" dynamic="true"></input>
          Дополнительная информация от авторе
        </label>
      </div>
      
      <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
        <label for="author-birth-date-input">Год рождения</label>
        <input class="form-control" id="author-birth-date-input" data-for="author:Author" type="number" name="birthdate"></input>
      </div>
      <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
        <label for="author-photo-input">Фотография</label>
        <input id="author-photo-input" data-for="aimg:Image" type="file" name="fileid" data-subclass="AuthorImage"></input>
      </div>

      <div class="checkbox">
        <label for="new-report-checkbox">
          <input id="new-report-checkbox" type="checkbox" dynamic="true"></input>
          Добавить новый отчет
        </label>
      </div>
      <div class="form-group" toggle-by="new-report-checkbox" need-option="false">
        <label for="report-input">Отчет <span class="required">*</span></label>
        <input class="form-control" id="report-input"></input>
        <input id="report-input-id" data-for="r:Report" type="id" hidden name="id" data-req="up"></input>
      </div>
      
      <div class="form-group" toggle-by="new-report-checkbox" need-option="true">
        <label for="report-name-input">Название <span class="required">*</span></label>
        <input class="form-control" id="report-name-input" data-for="r:Report" type="text" name="name" data-req></input>
      </div>
      <div class="form-group" toggle-by="new-report-checkbox" need-option="true">
        <label for="report-year-input">Год <span class="required">*</span></label>
        <input class="form-control" id="report-year-input" data-for="r:Report" type="number" name="year" data-req></input>
      </div>
      <div class="form-group" toggle-by="new-report-checkbox" need-option="true">
        <label for="report-file-input">Файл отчета</label>
        <input id="report-file-input" type="file" data-for="r:Report" name="fileid"></input>
      </div>

      <div hidden="true">
        <div class="form-group" toggle-by="new-report-checkbox" need-option="true">
          <input class="form-control" id="research-name-input" data-for="rs:Research" type="text" name="name"></input>
        </div>
        <div class="form-group" toggle-by="new-report-checkbox" need-option="true">
          <input class="form-control" id="research-year-input" data-for="rs:Research" type="number" name="year"></input>
        </div>
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="menu1">
      <legend>ОКН</legend>

      <div class="checkbox">
        <label for="new-heritage-object-checkbox">
          <input id="new-heritage-object-checkbox" type="checkbox" dynamic="true"></input>
          Добавить ОКН
        </label>
      </div>
      <div class="form-group" toggle-by="new-heritage-object-checkbox" need-option="false">
        <label for="heritage-object-input">Название</label>
        <input class="form-control" id="heritage-object-input" data-for="hs:HeritageStatus" type="text" name="code"></input>
      </div>

      <div class="form-group" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label for="heritage-object-name-input">Название <span class="required">*</span></label>
        <input class="form-control" id="heritage-object-name-input" data-for="hs:HeritageStatus" type="text" name="code" data-req></input>
      </div>
      <div class="form-group" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label for="heritage-object-description-input">Описание</label>
        <textarea class="form-control" id="heritage-object-description-input" data-for="hs:HeritageStatus" type="text" name="description"></textarea>
      </div>
      <div class="form-group" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label for="heritage-object-border-input">Описание границ</label>
        <textarea class="form-control" id="heritage-object-border-input" data-for="hs:HeritageStatus" type="text" name="border"></textarea>
      </div>
      <div class="form-group" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label for="heritage-object-security-input">Предмет охраны</label>
        <input class="form-control" id="heritage-object-security-input" data-for="hs:HeritageStatus" type="text" name="security"></input>
      </div>
      <div class="form-group" toggle-by="new-heritage-object-checkbox" need-option="true">
        <label for="heritage-object-files-input">Файл документа</label>
        <input class="form-control" id="heritage-object-files-input" data-for="file:File" type="file" name="fileid"></input>
      </div>
      <button class="btn btn-primary btn-next" active="2">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="menu2">
      <legend>Памятник</legend>

      <div class="form-group" toggle-by="new-monument-checkbox" need-option="true">
        <input id="monument-tmp-input" value="Костыль" hidden data-for="m:Monument" type="text" name="tmp"></input>
      </div>
      <div class="form-group">
        <label for="monument-name-input">Название памятника <span class="required">*</span></label>
        <input class="form-control" id="monument-name-input" data-for="k:Knowledge" type="text" name="monument_name" data-req></input>
      </div>
      <div class="form-group" toggle-by="new-monument-checkbox" need-option="true">
        <label for="monument-desc-input">Описание памятника</label>
        <textarea class="form-control" id="monument-desc-input" data-for="k:Knowledge" type="text" name="description"></textarea>
      </div>
      <div class="form-group">
        <label for="epoch-selector">Эпоха</label>
        <select class="form-control" id="epoch-selector"  data-for="e:Epoch" type="id" name="id"></select>
      </div>
      <div class="form-group">
        <label for="culture-selector">Культура</label>
        <select class="form-control" id="culture-selector"  data-for="c:Culture" type="id" name="id"></select>
      </div>

      <div id="form-group" class="coords">
        <div class="form-group">
          <label for="monument-x">
            Координата X
          </label>
          <input class="form-control" id="monument-x" data-for="k:Knowledge" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="monument-y">
            Координата Y
          </label>
          <input class="form-control" id="monument-y" data-for="k:Knowledge" type="number" name="y"></input>
        </div>
      </div>
      <button id="send-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Создать
      </button>
    </div>


</div>

<div class="maps">
  <%= widget("Map", {}, "map") %>
</div>
