<div class="content">
  <h2><%= t('monument.singular') %></h2>
  <div id="container">
    <ul id="tabs">
    </ul>
    
    <div id="home">
      <div class="form-group">
        <label for="monument-number">Номер</label>
        <input class="form-control" id="monument-number" data-for="map_References_m" type="text" name="number"></input>
      </div>

      <div class="form-group">
        <label for="monument-name">Название памятника</label>
        <input class="form-control" id="monument-name" data-for="k:Knowledge" type="text" name="name"></input>
      </div>

      <div class="form-group">
        <label for="monument-x">X</label>
        <input class="form-control" id="monument-x" data-for="m:Monument" type="text" name="x"></input>
      </div>

      <div class="form-group">
        <label for="monument-y">Y</label>
        <input class="form-control" id="monument-y" data-for="m:Monument" type="text" name="y"></input>
      </div>

      <div class="form-group">
        <label for="monument-type">Тип памятника</label>
        <input class="form-control" id="monument-type" data-for="m:Monument" type="text" name="type"></input>
      </div>

      <div class="form-group">
        <label for="monument-culture">Культура</label>
        <input class="form-control" id="monument-culture" data-for="c:Culture" type="text" name="name"></input>
      </div>

      <div class="form-group">
        <label for="monument-epoch">Эпоха</label>
        <input class="form-control" id="monument-epoch" data-for="e:Epoch" type="text" name="name"></input>
      </div>

      <div class="form-group">
        <label for="monument-description">Описание</label>
        <input id="monument-description" data-for="k:Knowledge" type="text" name="description"></input>
      </div>

      <div class="form-group">
        <label for="monument-biblref">Библиографическая ссылка</label>
        <input class="form-control" id="monument-biblref" type="text"></input>
      </div>

      <div class="form-group">
        <label for="monument-page">Страница</label>
        <input class="form-control" id="monument-page" data-for="map_References_m" type="text" name="page"></input>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" onclick="createMonumentsFromXlsx()">
    <i class="fa fa-cogs"></i>
    Создать
  </button>
</div>

<div class="maps">
  <%= widget("Map", {}, "map") %>
</div>

<script type="text/javascript">
  $('document').ready(function(){
    getXlsxData();
    addPages();
    setInputEvents();
    fillXlsxData();
  });
</script>