<div class="content">
  <h2><%= t('research.singular') %> "<%= research.name %>"</h2>
  <br>
  <p>
    <%= t('author.singular') %>:
    <a href="#author/show/<%= author[0].id %>">
      <%= author[0].name %>
    </a>
  </p>

  <% if (coauthors.length) { %>
    <%= t('coauthor.plural') %>:
    <% _.each(coauthors, function(a, i) { %>
      <a href="#author/show/<%= a.id %>"><%= a.name %></a>
      <% if (coauthors.length > (i+1)) { %>
        ,
      <% } %>
    <% }); %>
  <% } %>
  
  <% if (coauthors.length) { %>
    <p>
      <%= t('research.year') %>:
      <%= maybe(research.year) %>
    </p>
  <% } %>

  <h4><%= t('research.prop.description') %>:</h4>
  <p><%= maybe(research.description) %></p>
  
  <h3><%= t('report.plural') %>:</h3>
  <% if (reports.length) { %>
    <div>
    <% _.each(reports, function(report) { %>
      <p>
        <%= App.models.Report.href(report.fileid, report.name) %>
      </p>
    <% }); %>
    </div>
  <% } else { %>
    <p>
      Нет отчёта
    </p>
  <% } %>

  <div id="accordion">
    <% var counter = 1 %>
    <% _.each(monuments, function(monument, i) { %>
      
      <h4 class="accordion-header">
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
        <%= t('monument.singular') %> №<%= counter++ %>: <b><%= knowledges[i].monument_name %></b>
      </h4>
      
      <div class="accordion-content">
        <dl>
          <dt></dt>
          <dd>
            <a href="#monument/show/<%= monument.id %>">
            Перейти к памятнику
          </a>
          </dd>
          <dt>Название, данное исследователем:</dt>
          <dd><%= knowledges[i].monument_name %></dd>
          <dt>Эпоха:</dt>
          <dd><%= epoch[i].name %></dd>
          <dt>Культурная принадлежность, определенная исследователем:</dt>
          <dd><%= cultures[i].name %></dd>
          <dt>Найденные артефакты:</dt>
          <dd>
            <% if (artifacts[i] && artifacts[i].length > 0) { %>
              <% var length = artifacts[i].length %>
              <% _.each(artifacts[i], function(artifact, i) { %>
                <a href="#artifact/show/<%= artifact.id %>">
                  <%= artifact.description%>
                </a>
                <% if (i < length-1) { %>
                ,
              <% } %>
            <% }); %>
            <% } else { %>
              нет
            <% } %>
          </dd>
        </dl>
      </div>

    <% }) %>
  </div>

  <% if (usedArtifacts.length > 0) { %>
    <dl>
      <dt>Упоминаемые артефакты:</dt>
      <dd>
        <% var length = usedArtifacts.length %>
        <% _.each(usedArtifacts, function(artifact, i) { %>
        <a href="#artifact/show/<%= artifact.id %>">
          <%= artifact.description %>
        </a>
        <% if (i < length-1) { %>
        ,
        <% } %>
        <% }); %>
      </dd>
    </dl>
  <% } %>

<div class="maps">
  <%= widget("Map", {"placemarks": placemarks}, "map") %>
</div>
</div>


