<div class="content">
  <h2><%= t('search.head') %></h2>

  <label>
    <%= t('search.subject') %>
    <%= widget('Toggler', {"select": [
      [t("monument.singular"), "#monument-params"],
      [t("research.singular"), "#research-params"],
      [t("author.singular"), "#author-params"],
      [t("report.singular"), "#report-params"],
      [t("heritage.singular"), "#okn-params"],
    ]}, "objectToggler", "class='form-control'")%>
  </label>
  <h4><%= t("search.criteria") %>:</h4>

  <div class="flex-column" id="monument-params" style="display: none">
    <div class="form-group">
      <label for="monument-input" class="flex-row">
        <%= t("knowledge.prop.name") %>
      </label>
      <input class="form-control" type="text" id="monument-input"/>
    </div>
    <div class="form-group">
      <label for="monument-epoch" class="flex-row">
        <%= t("monument.prop.epoch") %>
      </label>
      <select class="form-control" id="monument-epoch"/>
    </div>
  </div>

  <div class="flex-column" id="research-params" style="display: none">
    <div class="form-group">
      <label for="research-author-input" class="flex-row">
        <%= t("author.name") %>
      </label>
      <input class="form-control" type="text" id="research-author-input"/>
    </div>
    <br/>
    <div class="form-group">
      <label for="research-year-input" class="flex-row">
        <%= t("research.year") %>
      </label>
      <input class="form-control" type="number" id="research-year-input"/>
    </div>
  </div>

  <div class="flex-column" id="author-params" style="display: none">
    <div class="form-group">
      <label for="author-input" class="flex-row">
        <%= t("author.prop.name") %>
      </label>
      <input class="form-control" type="text" id="author-input"/>
    </div>
  </div>

  <div class="flex-column" id="report-params" style="display: none">
    <div class="form-group">
      <label for="report-author-input" class="flex-row">
        <%= t("author.name") %>
      </label>
      <input class="form-control" type="text" id="report-author-input"/>
    </div>
    <br/>
    <div class="form-group">
      <label for="report-year-input" class="flex-row">
        <%= t("report.year") %>
      </label>
      <input class="form-control" type="number" id="report-year-input">
    </div>
  </div>

  <div class="flex-column" id="okn-params" style="display: none">
    <div class="form-group">
      <label for="heritage-input" class="flex-row">
        <%= t("heritage.name") %>
      </label>
      <input class="form-control" type="text" id="heritage-input"/>
    </div>
  </div>

  <button class="btn btn-primary" id="show-results-button">
      <i class="fa fa-search"></i>
      <%= t("search.showResults") %>
  </button>

  <div class="search-results" id="search-results"></div>
</div>

<div id="map" class="maps">
</div>