<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/web_client/css/style.css">
</head>
<body>
<header>
  <%= t("titles.wizard.team") %>
</header>
<section>
  <h2 class="section__title">
    <span><%= t("team.director") %></span>
  </h2>
  <div class="team-list">
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/director.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member1.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member1.desc1") %></p>
        <p><%= t("team.member1.desc2") %></p>
        <p><%= t("team.member1.desc3") %></p>
        <p><%= t("team.member1.desc4") %></p>
        <p><%= t("team.member1.desc5") %></p>
        <p></p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2 class="section__title">
    <span><%= t("team.developers") %></span>
  </h2>
  <div class="team-list">
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member2.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member2.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member2.desc1") %></p>
        <p><%= t("team.member2.desc2") %></p>
        <p><%= t("team.member2.desc3") %></p>
        <p><%= t("team.member2.desc4") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member3.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member3.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member3.desc1") %></p>
        <p><%= t("team.member3.desc2") %></p>
        <p><%= t("team.member3.desc3") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member4.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member4.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member4.desc1") %></p>
        <p><%= t("team.member4.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member5.png"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member5.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member5.desc1") %></p>
        <p><%= t("team.member5.desc2") %></p>
        <p><%= t("team.member5.desc3") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member6.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member6.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member6.desc1") %></p>
        <p><%= t("team.member6.desc2") %></p>
      </div>
    </div>
  </div>
</section>
<section>
  <h2 class="section__title">
    <span><%= t("team.dataMakers") %></span>
  </h2>
  <div class="team-list">
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member9.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member9.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member9.desc1") %></p>
        <p><%= t("team.member9.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member13.png"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member12.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member12.desc1") %></p>
        <p><%= t("team.member12.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member7.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member7.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member7.desc1") %></p>
        <p><%= t("team.member7.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member8.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member8.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member8.desc1") %></p>
        <p><%= t("team.member8.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member10.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member10.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member10.desc1") %></p>
        <p><%= t("team.member10.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member11.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member11.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member11.desc1") %></p>
        <p><%= t("team.member11.desc2") %></p>
      </div>
    </div>
    <div class="team-member">
      <figure class="snip red">
        <img src="/web_client/img/team/member14.jpg"
           alt="sq-sample6"/>
        <figcaption>
          <h2><%= t("team.member13.name") %></h2>
        </figcaption>
        <a href="#"></a>
      </figure>
      <div class="team-member-info">
        <p><%= t("team.member13.desc1") %></p>
        <p><%= t("team.member13.desc2") %></p>
      </div>
    </div>
  </div>
</section>
</body>
</html>