<div class="pure-g">
  <label>
    <div class="pure-u-1-6">Что создаётся?</div>
    <div class="pure-u-1-3">
      <select class="pure-u-1-1">
        <option>Исследование</option>
      </select>
    </div>
  </label>
</div>

<br/>

<div class="pure-g">
  <label>
    <div class="pure-u-1-6">На основе чего?</div>
    <div class="pure-u-1-3">
      <select class="pure-u-1-1">
        <option>Артефакт</option>
      </select>
    </div>
  </label>
</div>

<br/>

<a href="#monument/new">
  Приступить к заполнению
</a>
