<div class="block">
  <h3>Создание данных</h3>
  
  <div class="pure-g">
    <label>
      <div class="pure-u-1-4">Что создаётся?</div>
      <div class="pure-u-1-4">
        <select class="pure-u-1-1" id="what-create">
          <option value="artifact">Артефакт</option>
          <option value="monument">Памятник</option>
        </select>
      </div>
    </label>
  </div>

  <br/>

  <div class="pure-g">
    <label>
      <div class="pure-u-1-4">На основе чего?</div>
      <div class="pure-u-1-4">
        <select class="pure-u-1-1" id="from-what-create">
          <option value="research">Исследование</option>
        </select>
      </div>
    </label>
  </div>

  <br/>

  <a id="goto-create" href="#artifact/new">
    <i class="fa fa-pencil-square-o fa-lg"></i>
    Приступить к заполнению
  </a>
</div>
