<h3 class="left-p" style="margin-left: 22%; margin-top: 30px;">О системе</h3>
<h4 class="left-p" style="width: 50%; font-size: 14px; margin-left: 22%">
<p>Информационная система учета данных археологических исследований разработана для учета, хранения и анализа всей совокупности информации, получаемой в результате проведения археологических исследований и используемой для решения задач археологии как научной дисциплины. В организационном отношении информационная система является графовой базой данных, обеспеченной интерфейсами ввода/вывода и анализа информации, а также визуализации картографических данных.</p>

<p>Система хранит и обрабатывает данные о следующих сущностях:</p>
<p>* об объектах культурного наследия,</p>
<p>* археологических памятниках (культурных слоях),</p>
<p>* археологических комплексах (сооружениях, погребениях и иных объектах),</p>
<p>* артефактах,</p>
<p>* радиоуглеродных датах,</p>
<p>а также данные о полевых и аналитических исследованиях в области археологии и смежных наук, в том числе:</p>
<p>* данные о раскопах, том числе – за пределами территории археологических объектов;</p>
<p>* отчеты о полевых исследованиях;</p>
<p>* опубликованные результаты исследований;</p>
<p>* архивные документы.</p>

<p>Хранимые данные могут представлять из себя тексты, изображения, трехмерные модели объектов. Все они имеют пространственную привязку (с указанием степени точности), что позволяет проводить анализ пространственного расположения, как средствами самой информационной системы, так и путем обработки выбранного массива данных в иных геоинформационных системах.</p>
<p>Данные о явлениях и объектах, хранящиеся в системе (атрибуты сущностей), могут носить как объективный, так и субъективный характер. Это позволяет различать однозначные, не подверженные изменению сведения об археологических объектах (постоянные атрибуты) и информацию, имеющую характер интерпретации наблюдаемых явлений (переменные атрибуты). Такая организация позволяет работать с данными различной степени точности, в том числе – учитывать утраченные к настоящему времени памятники и артефакты, а также учитывать дискуссионный характер многих археологических интерпретаций.</p>
<p>Важнейшими типами переменных атрибутов являются культурные и хронологические интерпретации археологических явлений – культурных слоев памятников, археологических комплексов и артефактов. Наличие переменных атрибутов позволяет использовать функционал информационной системы для проведения историко-научных изысканий.</p>
<p>Имеющиеся в системе интерфейсы позволяют осуществлять:</p>
<p>* внесение, изменение и отображение хранящихся в ней данных,</p>
<p>* осуществление выборки данных из всей совокупности на основе атрибутов сущностей и связей между ними,</p>
<p>* картографическую визуализацию любого выбранного массива данных, имеющих пространственную привязку;</p>
<p>* простейший статистический анализ.</p>
<p>В целом, имеющийся на настоящий момент в системе функционал позволяет сочетать элементы пространственного анализа с хронологическим исследованием, построенным на основании различных видов источников (типологии артефактов, радиоуглеродного датирования, стратиграфических наблюдений). </p>

<p style="font-size: 14;"><b>Перспективные задачи разработки</b></p>

<p>В числе перспективных задач, которые ставит перед собой команда разработчиков – создание индивидуальных рабочих кабинетов исследователей, внедрение системы безопасности, основанной на дифференцированном многоуровневом доступе к данным, обработка и хранение полигональных данных, создание интерфейсов визуализации трехмерных моделей археологических объектов, расширение набора инструментов статистической обработки данных, обеспечение возможности использования наиболее популярных форматов хранения пространственных данных при загрузке/выгрузке информации.</p>

</h4>