<!DOCTYPE HTML>

<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="robots" content="NOODP,NOYDIR"/>
    <title>ArchGIS</title>
    
    <!-- styles -->
    <link rel="stylesheet" href="/vendor/pure-min.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/web_client/css/main.css">
    <link rel="stylesheet" href="/vendor/tooltip.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" href="https://bootswatch.com/lumen/bootstrap.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- icon -->
    <link rel="shortcut icon" href="/web_client/img/favicon.ico" type="image/x-icon">
    
    <!-- vendor js -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/jquery/jquery.ui.min.js"></script>
    <script src="/vendor/js/underscore.min.js"></script>
    <script src="/vendor/js/backbone.min.js"></script>
    <script src="/vendor/js/tooltip.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    
    <!-- К сожалению бесплатные карты от Яндекса только по такой загрузке... -->
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>
  </head>

  <body>
  <div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <a href="#" class="navbar-brand">
          <i class="fa fa-globe fa-lg"></i>
          Arch Gis
        </a>
        <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="#wizard/create_data">Создать</a>
          </li>
          <li>
            <a href="#search/index">Найти</a>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="download">Пользователь <span class="caret"></span></a>
            <ul class="dropdown-menu" aria-labelledby="download">
              <li>
                <a href="#">
                  <i class="fa fa-user"></i>
                  Профиль<!-- <%= t('nav.profile') %> -->
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a href="#">
                  <i class="fa fa-sign-out"></i>
                  Выйти<!-- <%= t('nav.signout') %> -->
                </a>
              </li>
            </ul>
          </li>
        </ul>

      </div>
    </div>
  </div>


    <div id="body">
      <div class="bread-crumbs"></div>
    </div>

    <footer>
      <i class="fa fa-copyright"></i>
      Arch Gis 2016
    </footer>
    
    <!-- app src -->
    <!-- init -->
    <script src="/web_client/js/init/app.js"></script>
    <script src="/web_client/js/init/store.js"></script>
    <script src="/web_client/js/init/fn.js"></script>
    <script src="/web_client/js/data.js"></script>
    <script src="/web_client/js/init/locale.js"></script>
    <script src="/web_client/js/init/widgetMaker.js"></script>
    <script src="/web_client/js/init/blockMaker.js"></script>
    <script src="/web_client/js/init/page.js"></script>
    <script src="/web_client/js/init/url.js"></script>
    <script src="/web_client/js/init/form.js"></script>
    <script src="/web_client/js/init/template.js"></script>
    <script src="/web_client/js/init/views.js"></script>
    <script src="/web_client/js/init/models.js"></script>
    <!-- widgets -->
    <script src="/web_client/js/widgets/toggler.js"></script>
    <script src="/web_client/js/widgets/search_line.js"></script>
    <script src="/web_client/js/widgets/table.js"></script>
    <script src="/web_client/js/widgets/map.js"></script>
    <!-- blocks -->
    <script src="/web_client/js/blocks/coordpicker.js"></script>
    <!-- models -->
    <script src="/web_client/js/models/proto.js"></script>
    <script src="/web_client/js/models/organization.js"></script>
    <script src="/web_client/js/models/base.js"></script>
    <script src="/web_client/js/models/epoch.js"></script>
    <script src="/web_client/js/models/culture.js"></script>
    <script src="/web_client/js/models/arch_map.js"></script>
    <script src="/web_client/js/models/arch_map_record.js"></script>
    <script src="/web_client/js/models/collection.js"></script>
    <script src="/web_client/js/models/knowledge.js"></script>
    <script src="/web_client/js/models/monument.js"></script>
    <script src="/web_client/js/models/author.js"></script>
    <script src="/web_client/js/models/research.js"></script>
    <script src="/web_client/js/models/research_ref.js"></script>
    <script src="/web_client/js/models/report.js"></script>
    <script src="/web_client/js/models/literature_ref.js"></script>
    <script src="/web_client/js/models/city.js"></script>
    <script src="/web_client/js/models/okn.js"></script>
    <!-- controllers -->
    <script src="/web_client/js/controllers/wizard.js"></script>
    <script src="/web_client/js/controllers/import_xlsx.js"></script>
    <script src="/web_client/js/controllers/monument.js"></script>
    <script src="/web_client/js/controllers/artifact.js"></script>
    <script src="/web_client/js/controllers/research.js"></script>
    <script src="/web_client/js/controllers/publication.js"></script>
    <script src="/web_client/js/controllers/search.js"></script>
    <script src="/web_client/js/controllers/author.js"></script>
    <script src="/web_client/js/controllers/report.js"></script>
    <script src="/web_client/js/controllers/organization.js"></script>
    <script src="/web_client/js/controllers/files.js"></script>
    <!-- router -->
    <script src="/web_client/js/init/router.js"></script>
    <!-- views -->
    <script src="/web_client/js/views/monument.js"></script>
    <script src="/web_client/js/views/research.js"></script>
    <script src="/web_client/js/views/artifact.js"></script>
    <script src="/web_client/js/views/search.js"></script>
    <script src="/web_client/js/views/create_data.js"></script>
    <script src="/web_client/js/views/files.js"></script>
    <script src="/web_client/js/views/import_xlsx.js"></script>
  </body>
</html>
