<div class="content">
  <h2><%= t('artifact.create') %></h2>
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#menu1"><%= t('monument.singular') %></a></li>
      <li><a href="#menu2"><%= t('excavation.singular') %></a></li>
      <li><a href="#menu3"><%= t('collection.singular') %></a></li>
      <li><a href="#menu4"><%= t('artifact.singular') %></a></li>
    </ul>

    <div id="home">
    	<legend>Сведения об исследовании</legend>

      <div class="form-group find-author">
        <h4>Введите существующего автора исследования</h4>
        <label for="author-input">Имя автора <span class="required">*</span></label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" hidden type="id" name="id" data-req="up"></input>
      </div>


      <div class="form-group find-report">
        <h4>Выберите существующий отчёт</h4>
        <label for="report-input">Название отчёта <span class="required">*</span></label>
        <input class="form-control" id="report-input"></input>
        <input id="report-input-id" data-for="r:Report" type="id" hidden name="id" data-req="up"></input>
      </div>

      <div hidden>
        <input class="form-control" id="research-input-id" data-for="rs:Research" type="id" name="id"></input>
      </div>


      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="menu1">
      <legend>Сведения о памятнике</legend>

      <div class="form-group find-monument">
        <label for="monument-input">Выбрать существующий памятник <span class="required">*</span></label>
        <input class="form-control" id="monument-input"></input>
        <input id="monument-input-id" data-for="m:Monument" hidden type="id" name="id" data-req="up"></input>
      </div>

      <div class="form-group">
        <label for="monument-name-input">Название памятника <span class="required">*</span></label>
        <input class="form-control" id="monument-name-input" data-for="k:Knowledge" type="text" name="monument_name" data-req></input>
      </div>

      <div class="form-group">
        <label for="monument-desc-input">Описание памятника</label>
        <textarea class="form-control" id="monument-desc-input" data-for="k:Knowledge" type="text" name="description"></textarea>
      </div>


      <div class="form-group find-culture">
        <label for="culture-input">Культурная принадлежность</label>
        <input id="culture-input" class="form-control">
        <input id="culture-input-id" hidden data-for="c:Culture" type="id" name="id">
      </div>


      <div id="monument-coord-picker" class="coords">
        <div class="form-group">
          <label for="monument-x">
            Координата X
          </label>
          <input class="form-control" id="monument-x" data-for="k:Knowledge" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="monument-y">
            Координата Y
          </label>
          <input class="form-control" id="monument-y" data-for="k:Knowledge" type="number" name="y"></input>
        </div>
      </div>
      <div class="alert alert-dismissible alert-info">
        Нажмите на кнопку для выбора координат. Формат для ручного заполнения: 55.5555, 49.5656.
      </div>

      <button class="btn btn-primary btn-next" active="2">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="menu2">
      <div class="form-group">
        <label for="exc-name-input">Название вскрытия</label>
        <input class="form-control" id="exc-name-input" data-for="exc:Excavation" type="text" name="name"></input>
      </div>
      <div class="form-group">
        <label for="exc-boss-input">Руководитель работ</label>
        <input class="form-control" id="exc-boss-input" data-for="exc:Excavation" type="text" name="boss"></input>
      </div>
      <div class="form-group">
        <label for="exc-area-input">Площадь (м²)</label>
        <input class="form-control" id="exc-area-input" data-for="exc:Excavation" type="number" name="area"></input>
      </div>
      <div class="form-group">
        <label for="exc-region-input">Участок(квадрат)</label>
        <input class="form-control" id="exc-region-input" data-for="arti:Artifact" type="text" name="excRegion"></input>
      </div>
      <div class="form-group">
        <label for="exc-depth-input">Глубина (см)</label>
        <input class="form-control" id="exc-depth-input" data-for="exc:Excavation" type="number" name="depth"></input>
      </div>
      <div class="form-group">
        <label for="monument-object-input">Название объекта</label>
        <input class="form-control" id="monument-object-input" data-for="complex:Complex" type="text" name="name"></input>
      </div>

      <div id="exc-coord-picker" class="coords">
        <div class="form-group">
          <label for="exc-x">
            Координата X
          </label>
          <input class="form-control" id="exc-x" data-for="exc:Excavation" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="exc-y">
            Координата Y
          </label>
          <input class="form-control" id="exc-y" data-for="exc:Excavation" type="number" name="y"></input>
        </div>
      </div>
      <div class="alert alert-dismissible alert-info">
        Нажмите на кнопку для выбора координат. Формат для ручного заполнения: 55.5555, 49.5656.
      </div>

      <button class="btn btn-primary btn-next" active="2">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="menu3">
      <div class="form-group" id="find-collection">
        <label for="collection-input">Название коллекции</label>
        <input id="collection-input" class="form-control">
        <input id="collection-input-id" hidden data-for="col:Collecction" type="id" name="id">
      </div>
    </div>

    <div id="menu4">
      <div class="form-group">
        <label for="arti-name-input">Название<span class="required">*</span></label>
        <input class="form-control" id="arti-name-input" data-for="arti:Artifact" type="text" name="name" data-req></input>
      </div>
      <div class="form-group">
        <label for="arti-category-input">Категория</label>
        <input id="arti-category-input" class="form-control autoinput"></input>
        <input id="arti-category-input-id" data-few="true" data-for="ac:ArtifactCategory" hidden type="id" name="id"></input>
      </div>
      <div class="form-group">
        <label for="arti-material-input">Материал</label>
        <input id="arti-material-input" class="form-control autoinput"></input>
        <input id="arti-material-input-id" data-few="true" data-for="am:ArtifactMaterial" hidden type="id" name="id"></input>
      </div>
      <div class="form-group">
        Датировка
        <select class="form-control" id="arti-date-scale-selector"  data-for="ds:DateScale" type="id" name="id"></select>
      </div>
      <div class="form-inline">
        <label for="arti-date-bottom">От</label>
        <input id="arti-date-bottom" data-for="arti:Artifact" class="form-control mini" type="text" name="dateBottom"></input>
        <label for="arti-date-top">До</label>
        <input id="arti-date-top" data-for="arti:Artifact" class="form-control input" type="text" name="dateTop"></input>
      </div>
      
      <div class="form-group find-culture-art">
        <label for="culture-input-art">Культурная принадлежность</label>
        <input id="culture-input-art" class="form-control">
        <input id="culture-input-art-id" hidden data-for="c_arti:Culture" data-subclass="artiCulture" type="id" name="id">
      </div>

      <div class="form-group">
        <label for="arti-desc-input">Описание</label>
        <textarea class="form-control" id="arti-desc-input" data-for="arti:Artifact" type="text" name="description"></textarea>
      </div>

      <button id="add-photo-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Добавить фото
      </button>
      <button id="send-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Создать
      </button>
    </div>
  </div>
</div>

<div class="maps">
  <%= widget("Map", {}, "map") %>
</div>


<!-- Создание нового автора -->
<script type="text/template" class="add-author">
  <div class="form-group">
    <h4>Добавление нового автора</h4>
    <label for="author-name-input">Имя автора <span class="required">*</span></label>
    <input class="form-control" id="author-name-input" data-for="author:Author" type="text" name="name" data-req></input>
  </div>

  <div class="checkbox">
    <label>
      <input id="more-author-checkbox" type="checkbox" dynamic="true"></input>
      Дополнительная информация об авторе
    </label>
  </div>

  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-birth-date-input">Год рождения</label>
    <input class="form-control" id="author-birth-date-input" data-for="author:Author" type="number" name="birthdate"></input>
  </div>
  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-photo-input">Фотография</label>
    <input id="author-photo-input" accept="image/jpeg,image/x-png" data-for="aimg:Image" type="file" name="fileid" data-subclass="AuthorImage"></input>
    <br>
    <div class="alert alert-dismissible alert-info">
      Максимальный размер фотографии 10 МБ.
    </div>
  </div>
</script>


<!-- Создание нового отчёта и исследования -->
<script type="text/template" class="add-report">
  <h4>Добавление нового отчёта</h4>

  <div class="form-group">
    <label for="report-name-input">Название <span class="required">*</span></label>
    <input class="form-control" id="report-name-input" data-for="rep:Report" type="text" name="name" data-req>
  </div>
  <div class="form-group">
    <label for="report-year-input">Год написания отчёта<span class="required">*</span></label>
    <input class="form-control" id="report-year-input" data-for="rep:Report" type="number" name="year" data-req>
  </div>

  <div class="form-group">
    <label for="research-type-selector">Тип исследования</label>
    <select class="form-control" id="research-type-selector" data-for="rt:ResearchType" type="id" name="id" dynamic="true"></select>
  </div>

  <div class="form-group">
    <label for="report-file-input">Файл отчёта</label>
    <input id="report-file-input" accept=".pdf,.doc,.docx" type="file" data-for="rep:Report" name="fileid">
    <div class="alert alert-dismissible alert-info">
      Максимальный размер документа 50 МБ.
    </div>
  </div>

  <div class="checkbox">
    <label for="more-report-checkbox">
      <input id="more-report-checkbox" type="checkbox" dynamic="true">
      Дополнительная информация об отчёте
    </label>
  </div>
  <div class="form-group" toggle-by="more-report-checkbox" need-option="true">
    <label for="report-city-input">Город</label>
    <%= widget("SearchLine", citiesInputOptions, "report-city-input") %>
    <input id="report-city-input-id" data-for="city:City" hidden type="id" name="id">
  </div>
  <div class="form-group" toggle-by="more-report-checkbox" need-option="true">
    <label for="report-organization-input">Учреждение - место хранения отчёта</label>
    <input class="form-control" id="report-organization-input">
    <input id="report-organization-input-id" data-for="org:Organization" type="id" hidden name="id">
  </div>
  <div class="form-group" toggle-by="more-report-checkbox" need-option="true">
    <label for="report-code-input">Номер</label>
    <input class="form-control" id="report-code-input" data-for="rep:Report" type="text" name="code">
  </div>


  <div hidden>
    <input class="form-control" id="research-input-year" data-for="rs:Research" type="number" name="year">
  </div>

  <div hidden>
    <input class="form-control" id="research-input-name" data-for="rs:Research" type="text" name="name">
  </div>
</script>


<!-- Форма для нового памятника -->
<script type="text/template" class="add-monument">
  <h4>Добавление нового памятника</h4>
  <div class="form-group">
    <input id="monument-tmp-input" value="Костыль" hidden data-for="m:Monument" type="text" name="tmp"></input>
  </div>

  <div class="form-group">
    <label for="epoch-selector">Эпоха</label>
    <select class="form-control" id="epoch-selector" data-for="e:Epoch" type="id" name="id"></select>
  </div>
  <div class="form-group">
    <label for="mon-type-selector">Тип</label>
    <select class="form-control" id="mon-type-selector" data-for="mt:MonumentType" type="id" name="id"></select>
  </div>
</script>


<!-- Форма для добавления культуры -->
<script type="text/template" class="add-culture">
  <div class="form-group">
    <label for="culture-name-input">Новая культурная принадлежность</label>
    <input id="culture-name-input" class="form-control" data-for="c:Culture" type="text" name="name">
  </div>
</script>

<!-- Форма для добавления коллекции -->
<script type="text/template" class="add-collection">
  <div class="form-group">
    <label for="collection-name-input">Новая коллекция</label>
    <input id="collection-name-input" class="form-control" data-for="col:Collection" type="text" name="name">
  </div>

  <div class="form-group">
    <label for="collection-city-input">Город</label>
    <%= widget("SearchLine", citiesInputOptions, "collection-city-input") %>
    <input id="collection-city-input-id" data-for="city:City" data-subclass="collCity" hidden type="id" name="id">
  </div>

  <div class="form-group">
    <label for="collection-organization-input">Учреждение - место хранения коллекции</label>
    <input class="form-control" id="collection-organization-input">
    <input id="collection-organization-input-id" data-for="org:Organization" data-subclass="collOrg" type="id" hidden name="id">
  </div>
</script>

<!-- Форма для добавления культуры артефакта -->
<script type="text/template" class="add-culture-art">
  <div class="form-group">
    <label for="culture-name-input-art">Новая культурная принадлежность</label>
    <input id="culture-name-input-art" class="form-control" data-for="c_arti:Culture" data-subclass="artiCulture" type="text" name="name">
  </div>
</script>