<div class="content">
  <h2><%= t('artifact.create') %></h2>
  <button class="send-button btn btn-primary">
    <i class="fa fa-cogs"></i>
    Создать
  </button>
  
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#monument"><%= t('monument.singular') %></a></li>
      <li><a href="#excavation"><%= t('excavation.singular') %></a></li>
      <li><a href="#artifact"><%= t('artifact.singular') %></a></li>
    </ul>

    <div id="home">
    	<legend>Сведения об исследовании</legend>

      <div class="form-group find-author">
        <h4>Введите существующего автора исследования</h4>
        <label for="author-input">Имя автора <span class="required">*</span></label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" hidden type="id" name="id" data-req="up">
      </div>

      <div class="form-group">
        <label for="coauthor-input">Соавторы</label>
        <%= widget("SearchLine", coauthorsInputOptions, "coauthor-input") %>
        <input id="coauthor-input-id" data-few="true" data-for="coauthor:Author" data-subclass="Coauthor" hidden type="id" name="id"></input>
      </div>
      
      <div class="form-group find-pub">
        <h4>Выберите существующую публикацию</h4>
        <label for="pub-input">Название публикации <span class="required">*</span></label>
        <input class="form-control" id="pub-input">
        <input id="pub-input-id" data-for="pub:Publication" type="id" hidden name="id" data-req="up">
      </div>

      <div hidden>
        <input class="form-control" id="research-input-id" data-for="rs:Research" type="id" name="id">
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="monument">
      <legend>Сведения о памятнике</legend>

      <button class="btn btn-primary btn-next" active="2" id="monument-next-button">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

  <div id="excavation" data-custom-relations="exc_1:Monument">
      <div class="form-group">
        <label for="exc-name-input">Название вскрытия</label>
        <input class="form-control" id="exc-name-input" data-for="exc_1:Excavation" type="text" name="name"></input>
      </div>
      <div class="form-group">
        <label for="exc-boss-input">Руководитель работ</label>
        <input class="form-control" id="exc-boss-input" data-for="exc_1:Excavation" type="text" name="boss"></input>
      </div>
      <div class="form-group">
        <label for="exc-area-input">Площадь (м²)</label>
        <input class="form-control" id="exc-area-input" data-for="exc_1:Excavation" type="number" name="area"></input>
      </div>
      <div class="form-group">
        <label for="exc-region-input">Участок(квадрат)</label>
        <input class="form-control" id="exc-region-input" data-for="arti_1:Artifact" type="text" name="excRegion"></input>
      </div>
      <div class="form-group">
        <label for="exc-depth-input">Глубина (см)</label>
        <input class="form-control" id="exc-depth-input" data-for="arti_1:Artifact" type="number" name="depth"></input>
      </div>
      <div class="form-group" data-custom-relations="complex_1:Monument">
        <label for="monument-object-input">Название объекта</label>
        <input class="form-control" id="monument-object-input" data-for="complex_1:Complex" type="text" name="name"></input>
      </div>
      <div class="form-group complex-belongs" id="complex-belongs" data-checkbox-type="radio" hidden>
        Принадлежит памятнику:
      </div>

      <input class="form-control" id="exc-spatref-date" data-for="esr:SpatialReference" data-subclass="ExcSpatRef" type="number" name="date" data-need-date hidden></input>

      <div class="form-group">
        <label for="exc-spatref-selector">Точность пространственной привязки</label>
        <select class="form-control" id="exc-spatref-selector" data-for="esrt:SpatialReferenceType" data-subclass="ExcSpatRefType" type="id" name="id"></select>
      </div>

      <div id="exc-coord-picker" class="coords">
        <div class="form-group">
          <label for="exc-x">
            Координата X
          </label>
          <input class="form-control" id="exc-x" data-for="esr:SpatialReference" data-subclass="ExcSpatRef" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="exc-y">
            Координата Y
          </label>
          <input class="form-control" id="exc-y" data-for="esr:SpatialReference" data-subclass="ExcSpatRef" type="number" name="y"></input>
        </div>
      </div>
      <div class="alert alert-dismissible alert-info">
        Нажмите на кнопку для выбора координат. Формат для ручного заполнения: 55.5555, 49.5656.
      </div>

      <div class="form-group exc-belongs" id="exc-belongs" data-checkbox-type="checkbox">
        Принадлежит памятнику:
      </div>

      <button class="btn btn-primary btn-next" active="2">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="artifact" data-custom-relations="arti_1:Knowledge">
      <div class="form-group">
        <label for="arti-name-input">Название<span class="required">*</span></label>
        <input class="form-control" id="arti-name-input" data-for="arti_1:Artifact" type="text" name="name" data-req></input>
      </div>

      <div class="form-group">
        <label for="arti-year-found-input">Год находки</label>
        <input class="form-control" id="arti-year-found-input" data-for="arti_1:Artifact" type="number" name="year"></input>
      </div>

      <div class="form-group">
        <label for="arti-category-input">Категория</label>
        <input id="arti-category-input" class="form-control autoinput"></input>
        <input id="arti-category-input-id" data-few="true" data-for="ac:ArtifactCategory" hidden type="id" name="id"></input>
      </div>
      <div class="form-group">
        <label for="arti-material-input">Материал</label>
        <input id="arti-material-input" class="form-control autoinput"></input>
        <input id="arti-material-input-id" data-few="true" data-for="am:ArtifactMaterial" hidden type="id" name="id"></input>
      </div>
      <div class="form-group">
        Датировка
        <select class="form-control" id="arti-date-scale-selector"  data-for="ds:DateScale" type="id" name="id"></select>
      </div>
      <div class="form-inline">
        <label for="arti-date-bottom">От</label>
        <input id="arti-date-bottom" data-for="inter:Interpretation" class="form-control mini" type="text" name="dateBottom"></input>
        <label for="arti-date-top">До</label>
        <input id="arti-date-top" data-for="inter:Interpretation" class="form-control input" type="text" name="dateTop"></input>
      </div>
      
      <div class="form-group find-culture-art">
        <label for="culture-input-art">Культурная принадлежность</label>
        <input id="culture-input-art" class="form-control" data-for="c_arti:Culture" data-subclass="artiCulture" type="id" name="id"> 
      </div>

      <input class="form-control" id="arti-spatref-date" data-for="asr:SpatialReference" data-subclass="ArtiSpatRef" type="number" name="date" data-need-date hidden></input>

      <div class="form-group">
        <label for="arti-spatref-selector">Точность пространственной привязки</label>
        <select class="form-control" id="arti-spatref-selector" data-for="asrt:SpatialReferenceType" data-subclass="ArtiSpatRefType" type="id" name="id"></select>
      </div>

      <div id="arti-coord-picker" class="coords">
        <div class="form-group">
          <label for="arti-x">
            Координата X
          </label>
          <input class="form-control" id="arti-x" data-for="asr:SpatialReference" data-subclass="ArtiSpatRef" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="arti-y">
            Координата Y
          </label>
          <input class="form-control" id="arti-y" data-for="asr:SpatialReference" data-subclass="ArtiSpatRef" type="number" name="y"></input>
        </div>
      </div>
      
      <div class="form-group">
        <label for="arti-desc-input">Описание</label>
        <textarea class="form-control" id="arti-desc-input" data-for="inter:Interpretation" type="text" name="description"></textarea>
      </div>

      <div class="form-group arti-belongs" id="arti-belongs" data-checkbox-type="radio">
        Принадлежит памятнику:
      </div>

      <button id="add-photo-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Добавить фото
      </button>
      <button class="send-button btn btn-primary">
        <i class="fa fa-cogs"></i>
        Создать
      </button>
    </div>
  </div>
</div>

<div id="map" class="maps"></div>


<!-- Создание нового автора -->
<script type="text/template" class="add-author">
  <div class="form-group">
    <h4>Добавление нового автора</h4>
    <label for="author-name-input">Имя автора <span class="required">*</span></label>
    <input class="form-control" id="author-name-input" data-for="author:Author" type="text" name="name" data-req>
  </div>

  <div class="checkbox">
    <label>
      <input id="more-author-checkbox" type="checkbox" dynamic="true">
      Дополнительная информация об авторе
    </label>
  </div>

  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-birth-date-input">Год рождения</label>
    <input class="form-control" id="author-birth-date-input" data-for="author:Author" type="number" name="birthdate">
  </div>
  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-photo-input">Фотография</label>
    <input id="author-photo-input" accept="image/jpeg,image/x-png" data-for="aimg:Image" type="file" name="fileid" data-subclass="AuthorImage">
    <br>
    <div class="alert alert-dismissible alert-info">
      Максимальный размер фотографии 10 МБ.
    </div>
  </div>
</script>

<!-- Создание новой публикации и исследования -->
<script type="text/template" class="add-pub">
  <h4>Добавление новой публикации</h4>

  <div class="form-group">
    <label for="pub-name-input">Название публикации<span class="required">*</span></label>
    <input class="form-control" id="pub-name-input" data-for="pub:Publication" type="text" name="name" data-req>
  </div>
  <div class="form-group">
    <label for="pub-year-input">Год издания<span class="required">*</span></label>
    <input class="form-control" id="pub-year-input" data-for="pub:Publication" type="number" name="published_at" data-req>
  </div>

  <div class="form-group">
    <label for="pub-type-selector">Тип публикации</label>
    <select class="form-control" id="pub-type-selector" data-for="pt:PublicationType" type="id" name="id" dynamic="true"></select>
  </div>

  <div class="form-group">
    <label for="pub-file-input">Файл публикации</label>
    <input id="pub-file-input" accept=".pdf,.doc,.docx" type="file" data-for="pub:Publication" name="fileid">
    <div class="alert alert-dismissible alert-info">
      Максимальный размер документа 50 МБ.
    </div>
  </div>

  <div class="checkbox">
    <label for="more-pub-checkbox">
      <input id="more-pub-checkbox" type="checkbox" dynamic="true">
      Дополнительная информация о публикации
    </label>
  </div>

  <div class="form-group" toggle-by="more-pub-checkbox" need-option="true">
    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="publisher-input">Издательство</label>
      <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="isbn-input">ISBN</label>
      <input class="form-control" id="isbn-input" data-for="pub:Publication" type="text" name="ISBN">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="pages-input">Количество страниц</label>
      <input class="form-control" id="pages-input" data-for="pub:Publication" type="number" name="pages">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="2">
      <label for="edi-type-selector">Тип издания</label>
      <select class="form-control" id="edi-type-selector" data-for="et:EditionType" type="id" name="id" dynamic="true"></select>
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="2">

      <div class="form-group" toggle-by="edi-type-selector" need-option="2">
        <div class="form-group">
          Продолжающееся издание
          <select class="form-control" id="edi-cont" data-for="pub:Publication" type="number" name="editionContinue" dynamic="true">
            <option value="1">Да</option>
            <option value="2">Нет</option>
          </select>
        </div>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="edi-name-input">Название журнала</label>
        <input class="form-control" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="2.4.5">
        <label for="edi-name-input">Название сборника</label>
        <input class="form-control" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="3">
        <label for="edi-name-input">Название монографии</label>
        <input class="form-control" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-name-input">Название конференции</label>
        <input class="form-control" id="conf-name-input" data-for="pub:Publication" type="text" name="conferenceName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-start-date">Дата начала конференции</label>
        <input class="form-control date-picker" id="conf-start-date" data-for="pub:Publication" type="text" name="conferenceStartDate"></input>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-end-date">Дата окончания конференции</label>
        <input class="form-control date-picker" id="conf-end-date" data-for="pub:Publication" type="text" name="conferenceEndDate"></input>
      </div>

      <div class="form-group" toggle-by="edi-cont" need-option="1">
        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="edi-series-name-input">Название серии</label>
          <input class="form-control" id="edi-series-name-input" data-for="pub:Publication" type="text" name="editionSeriesName">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="publisher-input">Издательство</label>
          <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="edition-input">Выпуск</label>
          <input class="form-control" id="edition-input" data-for="pub:Publication" type="text" name="edition">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="num-overall-input">№</label>
          <input class="form-control" id="num-overall-input-input" data-for="pub:Publication" type="number" name="numOverall">
        </div>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="publisher-input">Издательство</label>
        <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
      </div>

      <div class="form-group">
        <label for="volume-input">Том</label>
        <input class="form-control" id="volume-input" data-for="pub:Publication" type="text" name="volume">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="edition-input">Выпуск</label>
        <input class="form-control" id="edition-input" data-for="pub:Publication" type="text" name="edition">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="num-overall-input">№ (общий)</label>
        <input class="form-control" id="num-overall-input-input" data-for="pub:Publication" type="number" name="numOverall">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="num-year-input">№ (годовой)</label>
        <input class="form-control" id="num-year-input-input" data-for="pub:Publication" type="number" name="numYear">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="issn-input">ISSN</label>
        <input class="form-control" id="issn-input" data-for="pub:Publication" type="text" name="issn">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="2.3.4.5">
        <label for="isbn-input">ISBN</label>
        <input class="form-control" id="isbn-input" data-for="pub:Publication" type="text" name="isbn">
      </div>

      <div class="form-group">
        Страницы
        <div class="form-inline">
          <label for="pub-page-from">От</label>
          <input id="pub-page-from" data-for="pub:Publication" class="form-control mini" type="text" name="pageFrom"></input>
          <label for="pub-page-to">До</label>
          <input id="pub-page-to" data-for="pub:Publication" class="form-control input" type="text" name="pageTo"></input>
        </div>
      </div>
    </div>

    <div class="form-group" toggle-by="more-pub-checkbox" need-option="true">
      <label for="pub-city-input">Город</label>
      <%= widget("SearchLine", citiesInputOptions, "pub-city-input") %>
      <input id="pub-city-input-id" data-for="city:City" hidden type="id" name="id">
    </div>
  </div>

  <div hidden>
    <input class="form-control" id="research-input-name" data-for="rs:Research" type="text" name="name">
    <input class="form-control" id="research-input-year" data-for="rs:Research" type="number" name="year">
    <input class="form-control" id="research-type" value="3" data-for="rt:ResearchType" type="id" name="id">
  </div>
</script>

<!-- Форма для добавления коллекции -->
<script type="text/template" class="add-collection">
  <div class="form-group">
    <label for="collection-name-input">Новая коллекция</label>
    <input id="collection-name-input" class="form-control" data-for="col:Collection" type="text" name="name">
  </div>

  <div class="form-group">
    <label for="collection-city-input">Город</label>
    <%= widget("SearchLine", citiesInputOptions, "collection-city-input") %>
    <input id="collection-city-input-id" data-for="city:City" data-subclass="collCity" hidden type="id" name="id">
  </div>

  <div class="form-group">
    <label for="collection-organization-input">Учреждение - место хранения коллекции</label>
    <input class="form-control" id="collection-organization-input">
    <input id="collection-organization-input-id" data-for="org:Organization" data-subclass="collOrg" type="id" hidden name="id">
  </div>
</script>

<!-- Форма для добавления культуры артефакта -->
<script type="text/template" class="add-culture-art">
  <div class="form-group">
    <label for="culture-name-input-art">Новая культурная принадлежность</label>
    <input id="culture-name-input-art" class="form-control" data-for="c_arti:Culture" data-subclass="artiCulture" type="text" name="name">
  </div>
</script>