<div class="content">
  <h2><%= t('artifact.singular') %></h2>
  
  <div class="tabs">
    <ul>
      <li><a href="#common"><%= t('common.general') %></a></li>
      <li><a href="#photos"><%= t('photo.plural') %></a></li>
      <li><a href="#dates"><%= t('date.plural') %></a></li>
      <li><a href="#researches"><%= t('research.plural') %></a></li>
      <li><a href="#another">*</a></li>
    </ul>

    <div id="common">
      <dl>
        <% if (artifact.name) { %>
          <dt><%= t('artifact.name') %>:</dt>
          <dd><%= artifact.name %></dd>
        <% } %>

        <dt><%= t('artifact.category') %>:</dt>
        <dd><%= (categories.length > 0) ? _.pluck(categories, 'name').join(", ") : "Нет данных" %></dd>

        <dt><%= t('artifact.material') %>:</dt>
        <dd><%= (materials.length > 0) ? _.pluck(materials, 'name').join(", ") : "Нет данных" %></dd>

        <dt><%= t('artifact.size') %>:</dt>
        <dd><%= maybe(artifact.size, "Нет данных") %></dd>

        <dt><%= t('artifact.weight') %>:</dt>
        <dd><%= maybe(artifact.weight, "Нет данных") %></dd>

        <dt><%= t('artifact.tech') %>:</dt>
        <dd><%= maybe(artifact.tech,  "Нет данных") %></dd>

        <dt><%= t('artifact.keywords') %>:</dt>
        <dd><%= "Нет данных" %></dd>

        <dt><%= t('common.description') %>:</dt>
        <dd><%= maybe(artifact.description,  "Нет данных") %></dd>

        <dt><%= t('artifact.yearFound') %>:</dt>
        <dd><%= maybe(artifact.year,  "Нет данных") %></dd>

        <dt><%= t('artifact.monumentFound') %>:</dt>
        <dd><%= App.models.Monument.href(monFound[0].id, knowFound[0].monument_name) %></dd>

        <dt><%= t('excavation.singular') %>:</dt>
        <dd><%= maybe(exc, "Нет данных" ,"name") %></dd>

        <dt><%= t('artifact.placeFound') %>:</dt>
        <dd><%= "Нет данных" %></dd>

        <dt><%= t('collection.plural') %>:</dt>
        <dd><%= "Нет данных" %></dd>
      </dl>
    </div>

    <div id="photos">
      <% if (photos.length) { %>
        <% _.each(photos, function(photo) { %>
          <img src="<%= HOST_URL + '/local_storage/' + photo.fileid %>" height="100px">
        <% }); %>
      <% } %>
    </div>

    <div id="dates">
    </div>

    <div id="researches">
    </div>

    <div id="another">
    </div>
  </div>

  <div class="maps">
  <%= widget("Map", {"placemarks": placemarks}, "map") %>
  </div>
</div>