<div class="content">
  <h2><%= t('artifact.singular') %></h2>
  
  <% if (photos.length) { %>
    <% _.each(photos, function(photo) { %>
      <img src="<%= HOST_URL + '/local_storage/' + photo.fileid %>" height="100px">
    <% }); %>
  <% } %>
  <br>
  <br>

  <% if (artifact.year) { %>
    <dt><%= t('artifact.yearFound') %>:</dt>
    <dd><%= artifact.year %></dd>
  <% } %>
  
  <% if (artifact.name) { %>
    <dt><%= t('artifact.name') %>:</dt>
    <dd><%= artifact.name %></dd>
  <% } %>

  <dt><%= t('artifact.monumentFound') %>:</dt>
  <dd>
    <a href="#monument/show/<%= monFound[0].id %>">
      <%= knowFound[0].monument_name %>
    </a>
  </dd>

  <dt><%= t('artifact.description') %>:</dt>
  <dd><%= maybe(artifact.description, "Отсутствует") %></dd>

  <dt><%= t('artifact.material') %>:</dt>
  <% if (materials.length > 0) { %>
    <dd><%= _.pluck(materials, 'name').join(", ") %></dd>
  <% } else { %>
    <dd>Нет данных</dd>
  <% } %>

  
  <dt><%= t('artifact.category') %>:</dt>
  <% if (categories.length > 0) { %>
    <dd><%= _.pluck(categories, 'name').join(", ") %></dd>
  <% } else { %>
    <dd>Нет данных</dd>
  <% } %>

  <p>
    <h3><%= t('artifact.researches') %>:</h3>
    <a href="#research/show/<%= resFound[0].id %>">
      <%= authorFound[0].name %>,
      <%= maybe(resFound[0], "год не указан", "year") %>,
      <%= maybe(resFoundType[0][0], "тип не указан", "name") %>
    </a>
    - Найден

    <% if (researches.length > 0) { %>
      <% _.each(researches, function(research, i) { %>
        <p>
          <a href="#research/show/<%= researches[i].id %>">
            <%= authors[i].name %>,
            <%= maybe(research, "год не указан", "year") %>,
            <%= maybe(resUsedType[i][0], "тип не указан", "name") %>
          </a></h3>
        </p>
     <% }) %>
    <% } %>
  </p>

  <% if (intervals.length > 0) { %>
    <p>
      <h3><%= t('artifact.storage') %>:</h3>
      <% _.each(intervals, function(interval, i) { %>
        <p> 
          C <%= interval.period[0]%> <%= t('year.year2') %>
        </p>
        <br>
       <% }) %>
    </p>
  <% } %>

  <div class="maps">
  <%= widget("Map", {"placemarks": placemarks}, "map") %>
  </div>
</div>