<div class="content">
	<h2><%= t('publication.singular') %></h2>
	<dl>
		<dt><%= t('author.singular') %>:</dt>
		<dd><a href="#author/show/<%= author[0].id %>"><%= author[0].name %></a></dd>
	</dl>

	<% if (coauthors.length) { %>
	<dl>
		<dt><%= t('coauthor.plural') %>:</dt>
		<% _.each(coauthors, function(a, i) { %>
			<dd><a href="#author/show/<%= a.id %>"><%= a.name %></a></dd>
			<!-- <% if (coauthors.length > (i+1)) { %>
				,
			<% } %> -->
		<% }); %>
	</dl>
	<% } %>

	<dl>
		<dt><%= t('publication.prop.title') %>:</dt>
		<dd><%= pub.name %></dd>
	</dl>
	
	<dl>
		<dt><%= t('publication.prop.publisher') %>:</dt>
		<dd><%= publisher[0].name %></dd>
	</dl>

	<dl>
		<dt><%= t('publication.prop.year') %>:</dt>
		<dd><%= pub.published_at %></dd>
	</dl>

	<dl>
		<dt><%= t('publication.prop.type') %>:</dt>
		<dd><%= pubtype[0].name %></dd>
	</dl>

	<% if (pub.volume) { %>
		<dl>
			<dt><%= t('publication.prop.volume') %>:</dt>
			<dd><%= pub.volume %></dd>
		</dl>
	<% }%>

	<% if (pub.edition) { %>
		<dl>
			<dt><%= t('publication.prop.edition') %>:</dt>
			<dd><%= pub.edition %></dd>
		</dl>
	<% }%>

	<% if (pub.number) { %>
		<dl>
			<dt><%= t('publication.prop.number') %>:</dt>
			<dd><%= pub.number %></dd>
		</dl>
	<% }%>

	<dl>
		<dt><%= t('publication.prop.isbn') %>:</dt>
		<dd><%= pub.isbn %></dd>
	</dl>

	<% if (pub.pages) { %>
		<dl>
			<dt><%= t('publication.prop.pages') %>:</dt>
			<dd><%= pub.pages %></dd>
		</dl>
	<% }%>

	<% if (pub.link) { %>
		<p>
			<a href="<%= pub.link %>">
				<%= t('publication.prop.link') %>
			</a>
		</p>
	<% }%>

<div class="maps">
	<%= widget("Map", {}, "map") %>
</div>
</div>