<div class="content">
  <h2><%= t('collection.singular') %> "<%= ctl(collection.name) %>"</h2>

  <div class="tabs">
    <ul>
      <li><a href="#common"><%= t('common.general') %></a></li>
      <li><a href="#monuments"><%= t('monument.plural') %></a></li>
      <li><a href="#artifacts"><%= t('artifact.plural') %></a></li>
      <li><a href="#another">*</a></li>
    </ul>

    <div id="common">
    	<dl>
    		<dt><%= t('common.name') %>:</dt>
        <dd><%= ctl(collection.name) %></dd>

        <dt><%= t('common.storage') %>:</dt>
        <dd><%= t('organization.singular') %>: <%= maybe(org, t('common.notSpecif'), "name") %></dd>
        <dd><%= t('city.singular') %>: <%= maybe(city, t('common.notDefined'), "name") %></dd>

        <dt><%= t('collection.inventory') %>:</dt>
        <dd><%= (collection.inventory) ? App.models.File.href(collection.inventory, t('common.download')) : t('common.missing') %></dd>
      </dl>
    </div>

    <div id="monuments">
      <%= _.map(monuments, function(mon, t) {
        return App.models.Monument.href(mon.id, ctl(`${knows[t].monument_name}`));
      }).join(", <br>") %>
    </div>

    <div id="artifacts">
      <%= _.map(artifacts, function(arti, t) {
        let link = App.models.Artifact.href(arti.id, ctl(`${arti.name}`));
        return `${link} ${ t('since') } ${inters[t].yearSince} ${ t('year.year2') }`
      }).join(", <br>") %>
    </div>

    <div id="another">
    </div>
  </div>

</div>

<div id="map" class="maps"></div>