<h4 class="accordion-header" id="photo-header-<%= photoId %>">
  <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
  <%= t('photo.singular') %> №<%= photoId %>
</h4>
  
<div class="accordion-content" data-custom-relations="photo_<%= photoId %>:Knowledge">
  <div class="form-group">
    <label for="photo-file-input-<%= photoId %>"><%= t('photo.singular') %></label>
    <input id="photo-file-input-<%= photoId %>" data-for="photo_<%= photoId %>:Image" data-subclass="monumentImage" type="file" name="fileid"></input>
    <div class="alert alert-dismissible alert-info">
      <%= t('examples.maxSizePhoto') %>.
    </div>

    <div class="form-group">
      <label for="photo-monument-part-input-<%= photoId %>"><%= t('photo.sitePart') %></label>
      <input class="form-control" id="photo-monument-part-input-<%= photoId %>" data-for="photo_<%= photoId %>:Image" data-subclass="monumentImage" type="text" name="monumentPart"></input>
    </div>

    <div class="form-group">
      <label for="photo-view-selector-<%= photoId %>"><%= t('photo.foreshortening') %></label>
      <select class="form-control" id="photo-view-selector-<%= photoId %>" data-for="cd_<%= photoId %>:CardinalDirection" type="id" name="id"></select>
    </div>
  </div>

  <div class="form-group photo-belongs" id="photo-belongs-<%= photoId %>">
    <%= t('common.belongsToSites') %>:
  </div>
</div>