<div class="content">
  <div id="container" class="ui-widget ui-widget-content">
    <fieldset>
      <legend><%= t("knowledge.singular") %></legend>
      <%= form.input("knowledge", "name") %>
      <br>
      <%= form.input("knowledge", "ArchMap.n") %>
      <br>
      <%= form.input("knowledge", "ArchMap.page") %>
    </fieldset>

    <%= form.list("monument") %>
    <fieldset>
      <legend><%= t("monument.singular") %></legend>
      <%= form.input("monument", "epoch") %>
      
      <div class="coords">
        <div class="coord"><%= form.input("monument", "x") %></div>
        <div class="coord"><%= form.input("monument", "y") %></div>
        <i id="pick-coord" class="fa fa-map-marker"></i>
      </div>
    </fieldset>
  </div>
</div>

