<div class="content">  
  <h2><%= t("monument.info") %> "<%= mainName%>"</h2>
  
  <div id="container">
    <ul>
      <li><a href="#general"><%= t('common.general') %></a></li>
      <li><a href="#researches"><%= t('research.plural') %></a></li>
      <li><a href="#reports"><%= t('report.plural') %></a></li>
      <li><a href="#excavations"><%= t('excavation.plural') %></a></li>
      <li><a href="#artifacts"><%= t('artifact.plural') %></a></li>
      <li><a href="#photos"><%= t('photo.plural') %></a></li>
      <li><a href="#topos"><%= t('topoplan.plural') %></a></li>
      <li><a href="#history"><%= t('common.spatialHistory') %></a></li>
    </ul>

    <div id="general">
      <dt>Все названия памятника:</dt>
      <dd><%= allNames %></dd>

      <dt><%= t("monument.prop.epoch") %>:</dt>
      <dd><%= maybe(epoch[0], "Не указана","name") %></dd>

      <dt><%= t("monument.prop.type") %>:</dt>
      <dd><%= maybe(monType[0], "Не указан","name") %></dd>

      <dt><%= t("research.genitivePl") %>:</dt>
      <dd><%= _.size(researches) %></dd>

      <dt><%= t("excavation.genitivePl") %>:</dt>
      <dd><%= _.reduce(excavations, function(size, list) {
        return size + _.size(list)
      }, 0) %>;
      Общая площадь
      <%= _.reduce(excavations, function(area, list) {
        return area + _.reduce(list, function(area, exc) {
          return area + (exc.area || 0);
        }, 0);
      }, 0) %>
      м²</dd>

      <dt><%= t("artifact.genitivePl") %>:</dt>
      <dd><%= _.reduce(artifacts, function(size, list) {
        return size + _.size(list)
      }, 0) %></dd>

      <dt><%= t("heritage.singular") %></dt>
      <dd><% if (heritage[0]) { %>
        <% _.each(heritage, function(her, id) { %>
          <a href="#heritage/show/<%= her.id %>"><%= her.name %></a>
          <br>
        <% }) %>
      <% } else { %>
        Отсутствует или не задано
      <% } %>
      </dd>
    </div>

    <div id="researches">
      <div class="accordion">
        <% _.each(researches, function(research, i) { %>
          <h4 class="accordion-header">
            <%= t("research.singular") %> №<%= i+1 %>:
            <b>
              <%= App.views.research.getFullResearchTitle(authors[i].name, research.year, resTypes[i][0].name) %>
            </b>
          </h4>

          <div class="accordion-content">
            <dl>
              <dt></dt>
              <dd>
                <a href="#research/show/<%= research.id %>">
                Перейти к исследованию
              </a>
              </dd>
              <dt>Название, данное исследователем:</dt>
              <dd><%= knowledges[i].monument_name %></dd>
              <% if (_.keys(cultures[i]).length) { %>
                <dt>Культурная принадлежность, определенная исследователем:</dt>
                <dd><%= cultures[i].name %></dd>
              <% } %>
              <% if (research.description) { %>
                <dt>Описание исследования:</dt>
                <dd><%= research.description %></dd>
              <% } %>
              <% if (knowledges[i].description) { %>
                <dt>Описание памятника:</dt>
                <dd><%= knowledges[i].description %></dd>
              <% } %>

              <% if (reports[i] && reports[i].length > 0) { %>
                <dt>Отчет:</dt>
                <dd>
                  <% var reportTitle = `${maybe(reports[i][0], "Нет названия", "name")} (${maybe(authors[i], "автор неизвестен", "name")}, ${maybe(reports[i][0], "год не указан", "year")})` %>
                  <% if (reports[i][0].fileid) { %>
                    <%= App.models.Report.href(reports[i][0].id, reportTitle) %>
                  <% } else {%>
                    <%= reportTitle %>
                  <% } %>
                </dd>
              <% } %>

              <dt>Найдено артефактов:</dt>
              <dd><%= _.size(artifacts[i]) %></dd>

              <dt>Археологических вскрытий:</dt>
              <dd><%= _.size(excavations[i]) %></dd>
            </dl>
          </div>
        <% }); %>
      </div>
    </div>

    <div id="reports">
      <%= _.compact(_.map(reports, function(resReps, i) {
        return _.map(resReps, function(rep, t) {
          let year = rep.year || "год не указан";
          let repTitle = `${rep.name} (${authors[i].name}, ${year})`;
          return App.models.Report.href(rep.id, repTitle);
        }).join("<br>")
      })).join("<br>") %>
    </div>

    <div id="excavations"> 
      <%= _.compact(_.map(excavations, function(resExc, i) {
        return _.map(resExc, function(exc, t) {
          let area = exc.area || 0;
          let name = exc.name || "без названия";
          let boss = exc.boss || "не задан";
          return `${name} - ${area}м² (${authors[i].name}, ${researches[i].year}),
                  руководитель работ: ${boss}`
        }).join(", <br>")
      })).join(", <br>") %>
    </div>

    <div id="artifacts">
      <%= _.compact(_.map(artifacts, function(resArti, i) {
        return _.map(resArti, function(arti, t) {
          let artiTitle = `${arti.name} (${authors[i].name}, ${researches[i].year})`;
          return App.models.Artifact.href(arti.id, artiTitle);
        }).join(", <br>")
      })).join(", <br>") %>
    </div>

    <div id="photos">
      <%= App.views.functions.getMonImageCard(photos[0]) %>
    </div>

    <div id="topos">
      <%= App.views.functions.getTopoCard(topos[0]) %>
    </div>

    <div id="spatialHistory">
      <% 
      let counter = 1;
      _.each(spatrefType, function(type, i) { %>
        <dt><%= type[0].name %></dt>
        <% _.each(type, function(obj, t) { %>
          <% let date = new Date(spatref[i][t].date) %>
          <dd><%= counter++ %>) X: <%= spatref[i][t].x %>, Y: <%= spatref[i][t].y %>
            <%= (counter == 2) ? " - <b>актуальные координаты</b>" : "" %>
          </dd>
          <dd>Дата добавления: <%= date.getDate() %>.<%= date.getMonth() %>.<%= date.getFullYear() %> <%= date.getHours() %>:<%= date.getMinutes() %>:<%= date.getSeconds() %></dd>
          <br>
      <%}) 
      }) %>
    </div>
  </div>
</div>

<div id="map" class="maps">
</div>