<div class="content">  
  <h2><%= t("monument.info") %> "<%= mainName%>"</h2>
  <br>
  <dt>Все названия памятника:</dt>
  <dd><%= allNames %></dd>
  <% if (epoch) { %>
    <dt>Эпоха:</dt>
    <dd><%= epoch[0].name %></dd>
    <br>
  <% } %>
  <div id="accordion">
    <% var counter=1 %>
    <% _.each(researches, function(research, i) { %>
      <h4 class="accordion-header">
        <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
        <%= t("research.singular") %> №<%= counter++%>:
        <b>
          <%= maybe(authors[i].name, "Неизвестный автор") %>, 
          <%= maybe(research.year, "год не указан") %>
          <% if (resType[i]) { %>
            , <%= maybe(resType[i].name, "без типа") %>
          <% } %>
        </b>
      </h4>

      <div class="accordion-content">
        <dl>
          <dt></dt>
          <dd>
            <a href="#research/show/<%= research.id %>">
            Перейти к исследованию
          </a>
          </dd>
          <dt>Название, данное исследователем:</dt>
          <dd><%= knowledges[i].monument_name %></dd>
          <% if (cultures[i]) { %>
            <dt>Культурная принадлежность, определенная исследователем:</dt>
            <dd><%= cultures[i].name %></dd>
          <% } %>
          <% if (research.description) { %>
            <dt>Описание:</dt>
            <dd><%= research.description %></dd>
          <% } %>
          <dt>Найденные артефакты:</dt>
          <dd>
            <% if (artifacts[i] && artifacts[i].length > 0) { %>
              <% var length = artifacts[i].length %>
              <% _.each(artifacts[i], function(artifact, i) { %>
                <a href="#artifact/show/<%= artifact.id %>">
                  <%= artifact.name%>
                </a>
                <% if (i < length-1) { %>
                ,
                <% } %>
              <% }); %>
            <% } else { %>
              нет
            <% } %>
          </dd>
          <% if (reports[i] && reports[i].length > 0) { %>
            <dt>Отчет:</dt>
            <dd>
              <% var reportTitle = `${maybe(reports[i][0].name, "Нет названия")} (${maybe(authors[i].name, "автор неизвестен")}, ${maybe(reports[i][0].year, "год не указан")})` %>
              <% if (reports[i][0].fileid) { %>
                <%= App.models.Report.href(reports[i][0].fileid, reportTitle) %>
              <% } else {%>
                <%= reportTitle %>
              <% } %>
            </dd>
          <% } %>

          <dt>Археологические вскрытия:</dt>
          <dd>
            <% if (excavations[i] && excavations[i].length > 0) { %>
              <% var length = excavations[i].length %>
              <% _.each(excavations[i], function(excavations, i) { %>
                <%= maybe(excavations.name, `без названия ${i}`)%>
                <% if (excavations.area) { %>
                  (<%= excavations.area %> м²)
                <% } %>
                <% if (i < length-1) { %>
                ,
                <% } %>
              <% }); %>
            <% } else { %>
              нет
            <% } %>
          </dd>
        </dl>
      </div>
    <% }); %>
  </div>

  <div class="maps">
    <%= widget("Map", {"placemarks": placemarks}, "map") %>
  </div>
</div>