html {
  height: 100%;
}

.field-input {
    background-color: #F6F8FA;
    border: 1px solid #E0E0E8;
    display: inline-block;
    margin: 2px;
    max-width: 100%;
}

.field-input input {
    max-width: calc(100% - 6px);
}

.field-input select {
    width: 100%;
}

body {
  height: calc(100% - 2em);
  min-width: 875px;
}

body, button, input, select, textarea,
.pure-g [class *= "pure-u"],
.ui-widget {
    font: 12pt/10pt Helvetica sans-serif !important;
}

*:focus {
  outline: none;
}

nav {
  margin-bottom: 2em;
}

a, a:visited {
  color: #33d;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/*
  Основные блоки
*/

#body {
  margin-top: 2em;
  min-height: calc(100vh - 5em);
}

.content {
  width: 49%;
  margin-top: 3em;
  padding-left: 1em;
}

#container {
  width: 100%;
}

.maps {
  position: fixed;
  left: calc(50% + 1em);
  top: 3em;
  width: calc(100% - 50% - 1.5em);
  height: 90%;
  border: 1px solid;
}

.block {
  width: 50%;
  margin: auto;
  padding: 1em;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 0 0 5px 5px;
}

footer {
  width: 200px;
  height: 1em;
  margin-left: 1em;
}

/*.flow-block {
  width: 97%;
  height: 20em;
  padding-left: 1em;
  overflow: auto;
  border: 1px double #aaa;
}*/

/* ######################## */

.switch {
  cursor: pointer;
}

.top-indent {
  margin-top: 30px;
}

.pure-menu {
  padding: 0;
  margin: 0;
}

.pure-menu, .pure-menu-list {
  background: rgb(58, 58, 58);
}

a.pure-menu-heading {
  color: #ccc;
  text-decoration: none;
  float: left;
}

a.pure-menu-heading:hover {
  color: #fff;
}

a.pure-button {
  color: #fff;
}

a.pure-button:hover {
  text-decoration: none;
}

.pure-menu-list {
  float: right;
  padding: 0;
  margin: 0;
}

.pure-menu-link:hover {
  background: #222;
  color: #fff;
  text-decoration: none;
}

.pure-menu-link:focus {
  background: rgb(58, 58, 58);
}

.pure-menu-list li a {
  color: #ddd;
}

.pure-menu-list li:hover > a {
  background: #222;
}

.pure-menu-list > li {
  margin-right: -5px;
  border-right: 1px solid;
}

.pure-menu-children {
  min-width: 100%;
}

.pure-menu-list li:hover > ul {
  background: rgb(58, 58, 58);
}

.pure-button {
  margin-top: 1em;
  margin-left: 2em;
}

.pure-table {
  margin-top: 1em;
}

.count-search {
  margin-top: 1em;
}

input {
  margin-top: 0.3em;
  margin-bottom: 0.3em;
}

#search-criteria {
  margin-top: 1em;
}

/*
  monument.html
*/

.ui-widget-content {
  border: none;
}

.ui-widget-header {
  border: none;
  border-bottom: 1px solid #aaa;
  background: none;
  border-radius: 0;
}

input[type=text] {
    width: 200px;
}

.coords {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.ui-autocomplete {
  border: 1px solid #ccc;
}

.ui-autocomplete .ui-menu-item {
  border-bottom: 1px solid #aaa;
}

.ui-autocomlete:last-child {
  border-bottom: none;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 60%;
  align-items: center;
}

.flex-row label {
  margin-right: 1em;
  /*padding-top: 1em;*/
  line-height: 1;
}

/*
   Сообщения
*/
 
.danger {
  color: red;
  font-size: 1.5em;
}

.error-message {
  /*display: none;*/
}

.errors {
  font-size: 1.2em;
  color: orange;
}

.search-results {
  margin-top: 1em;
}