.content {
	width: 70%;
	margin: auto;
	margin-top: 1em;
	padding: 10px;
}

footer {
	width: 50%;
	margin: auto;
	margin-left: 15%;
}

.header {
	padding-bottom: 1em;
}

.switch {
	cursor: pointer;
}

#research-choose {
	margin-top: 30px;
}