/*.cluster-monument {
	background-color: rgba(180, 0, 0, 0.6);
}
.cluster-monument div {
	background-color: rgba(210, 15, 15, 0.6);
}*/

/*.cluster-research {
	background-color: rgba(1, 211, 179, 0.6);
}*/
.cluster-research div {
	background-color: rgba(3, 194, 150, 0.6);
}

/*.cluster-radiocarbon {
	background-color: rgba(180, 180, 180, 0.6);
}*/
.cluster-radiocarbon div {
  background-color: rgba(160, 160, 160, 0.6);
}
/*
.cluster-excavation {
	background-color: rgba(157, 112, 54, 0.6);
}*/
.cluster-excavation div {
  background-color: rgba(157, 100, 54, 0.6);
}


/*Marker clusters*/
.marker-cluster-pie g.arc{
  fill-opacity: 0.5;
}
.marker-cluster-pie-label {
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

.marker {
  width: 18px;
  height: 18px;
  border-width: 2px;
  border-radius:10px;
  margin-top: -10px;
  margin-left: -10px;
  border-style: solid;
  fill: #CCC;
  stroke: #444;
  background: #CCC;
  border-color: #444;
}
.marker div{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  font-family: sans-serif;
}

/*marker categories*/
.mon-category-1{
  fill: rgb(179, 178, 176);
  stroke: rgb(149, 148, 146);
  background: rgb(179, 178, 176);
  border-color: rgb(149, 148, 146);
}
.mon-category-2{
  fill: rgb(253, 4, 4);
  stroke: rgb(204, 4, 4);
  background: rgb(253, 4, 4);
  border-color: rgb(204, 4, 4);
}
.mon-category-3{
  fill: rgb(56, 252, 4);
  stroke: rgb(32, 205, 40);
  background: rgb(56, 252, 4);
  border-color: rgb(32, 205, 40);;
}
.mon-category-4{
  fill: rgb(3, 26, 249);
  stroke: rgb(10, 10, 255);
  background: rgb(3, 26, 249);
  border-color: rgb(10, 10, 255);
}
.mon-category-5{
  fill: rgb(249, 183, 3);
  stroke: rgb(249, 150, 3);
  background: rgb(249, 183, 3);
  border-color: rgb(249, 150, 3);
}
.mon-category-6{
  fill: rgb(157, 112, 54);
  stroke: rgb(157, 83, 54);
  background: rgb(157, 112, 54);
  border-color: rgb(157, 83, 54);
}
.mon-category-5{
  fill: rgb(255, 3, 235);
  stroke: rgb(255, 3, 200);
  background: rgb(255, 3, 235);
  border-color: rgb(255, 3, 200);
}
.mon-category-6{
  fill: rgb(0, 0, 0);
  stroke: rgb(40, 40, 40);
  background: rgb(0, 0, 0);
  border-color: rgb(40, 40, 40);
}

.res-category-1{
  fill: rgb(0, 0, 0);
  stroke: rgb(40, 40, 40);
  background: rgb(0, 0, 0);
  border-color: rgb(40, 40, 40);
}
.res-category-2{
  fill: rgb(30, 30, 210);
  stroke: rgb(30, 30, 180);
  background: rgb(30, 30, 210);
  border-color: rgb(30, 30, 180);
}
.res-category-3{
  fill: rgb(205, 133, 63);
  stroke: rgb(205, 100, 63);
  background: rgb(205, 133, 63);
  border-color: rgb(205, 100, 63);
}
.res-category-4{
  fill: rgb(128, 0, 0);
  stroke: rgb(110, 0, 0);
  background: rgb(128, 0, 0);
  border-color: rgb(110, 0, 0);
}