@import url(https://fonts.googleapis.com/css?family=Jura:300,400,600&amp;subset=cyrillic);

body {
    font-family: 'Jura', sans-serif;
    background-color: #272727;
    text-align: center;
}

header {
    font-size: 32px;
    font-weight: 600;
    color: #ffffff;
    display: inline-block;
    text-align: left;
    padding: 10px 45px;
    border-top: 2px solid rgb(30, 75, 90);
    border-bottom: 2px solid rgb(30, 75, 90);
    margin: 50px 0 30px 0;
}

#navbar-main {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

figure.snip {
    position: relative;
    display: inline-block;
    margin: 0;
    min-width: 220px;
    max-width: 310px;
    height: 310px;
    width: 100%;
    overflow: hidden;
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

figure.snip * {
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.snip img {
    opacity: 0.55;
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    position: relative;
    top: 0;
    left: 0;
}

figure.snip figcaption {
    position: absolute;
    top: 80%;
    left: 30px;
    right: 30px;
    -webkit-transform: rotate(0deg) translateY(-50%) scale(1);
    transform: rotate(0deg) translateY(-50%) scale(1);
    -webkit-transform-origin: center 0;
    transform-origin: center 0;
}

figure.snip figcaption h2 {
    top: 75%;
    letter-spacing: -1px;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px 0;
    margin: 0;
    font-weight: 300;
}

figure.snip figcaption h2 span {
    font-weight: 600;
}

figure.snip figcaption:before,
figure.snip figcaption:after {
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    height: 2px;
    position: absolute;
    content: "";
    display: block;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
}

figure.snip figcaption:before {
    left: 0;
    top: 0;
}

figure.snip figcaption:after {
    bottom: 0;
    right: 0;
}

.team-member:nth-child(5n+1) figure.snip {
    background: #091b27;
}

.team-member:nth-child(5n+2) figure.snip{
    background: #2e0e0a;
}

.team-member:nth-child(5n+3) figure.snip{
    background: #083b4f;
}

.team-member:nth-child(5n+4) figure.snip{
    background: #061c10;
}

.team-member:nth-child(5n+5) figure.snip{
    background: #000000;
}

figure.snip a {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
}

figure.snip:hover img,
figure.snip.hover img {
    opacity: 1;
}

figure.snip:hover figcaption:before,
figure.snip.hover figcaption:before,
figure.snip:hover figcaption:after,
figure.snip.hover figcaption:after {
    width: 200%;
}


h2.section__title {
    position: relative;
    z-index: 1;
    text-align: left;
    padding-left: 60px
}

h2.section__title:before {
    border-top: 1px solid #326273;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 55%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 95%;
    z-index: -1;
}

h2.section__title span {
    background: #272727;
    padding: 0 15px;
    color: #5C9EAD;
    font-weight: 100;
}

/*additional info about team member*/


.team-member {
    position: relative;
    display: inline-block;
    margin: 10px 5px;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    max-height: 310px;
}

figure.snip:hover {
    z-index: 3;
}

figure.snip:hover + div {
    top: 100%;
    opacity: 1;
    z-index: 2;
}

.team-member-info {
    position: absolute;
    background: rgba(50, 98, 115, 0.85);
    overflow: hidden;
    min-width: 220px;
    max-width: 310px;
    width: 100%;
    top: 0%;
    color: white;
    padding: 20px 10px;
    box-sizing: border-box;
    transition: all 0.3s;
    z-index: -1;
    opacity: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

section {
    margin-bottom: 60px;
}

section:last-child {
    margin-bottom: 250px;
}