<div class="container">
  <div class="row row-create-page-top">
    <div class="col-12">
      Внесение данных
    </div>
  </div>

  <div class="row row-create-page">
    <div class="col-3">
      Артефакт на основе
    </div>
    <div class="col-3">
      Памятник на основе
    </div>
    <div class="col-3">
      Исследование на основе
    </div>
    <div class="col-3">
      ОКН на основе
    </div>
  </div>

  <div class="row row-create-page">
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Отчёта
      {{/link-to}}
    </div>
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Отчёта
      {{/link-to}}
    </div>
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Отчёта
      {{/link-to}}
    </div>
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Документа
      {{/link-to}}
    </div>
  </div>

  <div class="row row-create-page">
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Публикации
      {{/link-to}}
    </div>
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Публикации
      {{/link-to}}
    </div>
    <div class="col-3">
      {{#link-to "index" class="btn btn-primary btn-default-size"}}
          Публикации
      {{/link-to}}
    </div>
  </div>
</div>
