<h2>На текущий момент в системе учтены:</h2>
<ul class="system-statistic">
  <li>Объектов культурного наследия - <span>1</span></li>
  <li>Памятников археологии - <span>1</span></li>
  <li>Археологических исследований - <span>1</span></li>
  <li>Артефактов - <span>1</span></li>
  <li>Отчетов об археологических исследованиях - <span>1</span></li>
  <li>Монографий - <span>1</span></li>
  <li>Статей - <span>1</span></li>
  <li>Архивных документов - <span>1</span></li>
  <li>Исследователей-археологов - <span>1</span></li>
</ul>