<h4 class="accordion-header" id="map-header-<%=mapId%>">
  <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
  <%= t('doc.surveyMap.singular') %> №<%=mapId%>
</h4>

<div class="accordion-content">
  <div id="map<%=mapId%>">
    <ul>
      <li><a href="#general<%=mapId%>"><%= t('doc.surveyMap.general') %></a></li>
      <li><a href="#use<%=mapId%>"><%= t('doc.surveyMap.use') %></a></li>
      <li><a href="#state<%=mapId%>"><%= t('doc.surveyMap.state') %></a></li>
    </ul>

    <div id="general<%=mapId%>">
      <div class="form-group">
        <label for="map-create-date-input-<%=mapId%>">Дата составления карты</label>
        <input class="form-control date-picker" id="map-create-date-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="createDate"></input>
      </div>

      <div class="form-group">
        Код ОКН:
        <span data-from="heritage-code-input"></span>
      </div>

      <div class="form-group">
        Наименование:</label>
        <span data-from="heritage-name-input"></span>
      </div>

      <div class="form-group">
        Адрес:</label>
        <span data-from="heritage-address-input"></span>
      </div>

      <div class="form-group">
        Координаты:</label>
        X = <span data-from="heritage-x"></span>,
        Y = <span data-from="heritage-y"></span>
      </div>

      <div class="form-group">
        Датировка:</label>
        <span data-from="heritage-date-input"></span>
      </div>

      <div class="form-group">
        Статус:</label>
        <span data-from="heritage-status-selector"></span>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        Категория охраны:
        <span data-from="heritage-security-type-selector"></span>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        Вид документа о постановке на государственную охрану:
        <span data-from="heritage-doc-type-input"></span>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        Номер документа о постановке на государственную охрану:
        <span data-from="heritage-doc-num-input"></span>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        Дата документа о постановке на государственную охрану:
        <span data-from="heritage-doc-date-input"></span>
      </div>

      <div class="form-group">
        Описание границ:
        <span data-from="heritage-border-desc-input"></span>
      </div>

      <div class="form-group">
        <label for="map-rod-number-input">Учетный номер БТИ</label>
        <input class="form-control" id="map-rod-number-input" data-for="map_<%=mapId%>:SurveyMap" type="text" name="rodNum"></input>
      </div>

      <div class="form-group">
        <label for="map-rod-passport-input">Номер паспорта БТИ</label>
        <input class="form-control" id="map-rod-passport-input" data-for="map_<%=mapId%>:SurveyMap" type="text" name="rodPassport"></input>
      </div>

      <div class="form-group">
        <label for="map-rod-date-input">Дата выдачи паспорта БТИ</label>
        <input class="form-control date-picker" id="map-rod-date-input" data-for="map_<%=mapId%>:SurveyMap" type="text" name="rodDate"></input>
      </div>

      <div class="form-group">
        <label for="map-area-input">Общая площадь (м²)</label>
        <input class="form-control" id="map-area-input" data-for="map_<%=mapId%>:SurveyMap" type="number" name="area"></input>
      </div>
    </div>

    <div id="use<%=mapId%>">
      <div class="form-group">
        <label for="map-own-type-selector-<%=mapId%>">Вид собственности</label>
        <select class="form-control" id="map-own-type-selector-<%=mapId%>" data-for="ownType_<%=mapId%>:OwnType" type="id" name="id">
          <option value="1">Опция 1</option>
          <option value="2">Опция 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="map-disposal-type-selector-<%=mapId%>">Вид распоряжения</label>
        <select class="form-control" id="map-disposal-type-selector-<%=mapId%>" data-for="dispType_<%=mapId%>:DisposalType" type="id" name="id">
          <option value="1">Опция 1</option>
          <option value="2">Опция 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="map-disposer-code-input-<%=mapId%>">Код собственника (распорядителя) по ОКАТО</label>
        <input class="form-control" id="map-disposer-code-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="number" name="disposalCode"></input>
      </div>

      <div class="form-group">
        <label for="map-disposer-vat-input-<%=mapId%>">ИНН собственника (распорядителя)</label>
        <input class="form-control" id="map-disposer-vat-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="number" name="disposerVat"></input>
      </div>

      <div class="form-group">
        <label for="map-disposer-kpp-input-<%=mapId%>">КПП собственника (распорядителя)</label>
        <input class="form-control" id="map-disposer-kpp-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="number" name="disposerKpp"></input>
      </div>

      <div class="form-group">
        <label for="map-doc-type-input-<%=mapId%>">Вид документа о передаче объекта собственнику (распорядителю)</label>
        <input class="form-control" id="map-doc-type-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="docType"></input>
      </div>

      <div class="form-group">
        <label for="map-doc-date-input-<%=mapId%>">Дата документа о передаче собственнику (распорядителю)</label>
        <input class="form-control data-picker" id="map-doc-date-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="docDate"></input>
      </div>

      <div class="form-group">
        <label for="map-doc-num-input-<%=mapId%>">Номер документа о передаче собственнику (распорядителю)</label>
        <input class="form-control" id="map-doc-num-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="docNum"></input>
      </div>

      <div class="form-group">
        <label for="map-start-date-input-<%=mapId%>">Дата начала владения (распоряжения) по документу об охране</label>
        <input class="form-control date-picker" id="map-start-date-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="startDate"></input>
      </div>

      <div class="form-group">
        <label for="map-end-date-input-<%=mapId%>">Дата окончания владения (распоряжения) по документу об охране</label>
        <input class="form-control date-picker" id="map-end-date-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="endDate"></input>
      </div>

      <div class="form-group">
        <label for="map-doc-security-type-input-<%=mapId%>">Вид охранного документа</label>
        <input class="form-control" id="map-doc-security-type-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="docSecurityType"></input>
      </div>

      <div class="form-group">
        <label for="map-doc-security-date-input-<%=mapId%>">Дата охранного документа</label>
        <input class="form-control date-picker" id="map-doc-security-date-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="docSecurityDate"></input>
      </div>

      <div class="form-group">
        <label for="map-doc-security-num-input-<%=mapId%>">Номер охранного документа</label>
        <input class="form-control" id="map-doc-security-num-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="text" name="docSecurityNum"></input>
      </div>

      <div class="form-group">
        Использование по первоначальному функциональному назначению
        <p>
          <input id="map-use-initial-yes-<%=mapId%>" name="useInitial-<%=mapId%>" type="radio" value="1" data-for="map_<%=mapId%>:SurveyMap" checked>Да
          <input id="map-use-initial-no-<%=mapId%>" name="useInitial-<%=mapId%>" type="radio" value="2" data-for="map_<%=mapId%>:SurveyMap">Нет
        </p>
      </div>

      <div class="form-group">
        <label for="heritage-purpose-selector">Функциональное назначение</label>
        <select class="form-control" id="heritage-purpose-selector-<%=mapId%>" data-for="fp_<%=mapId%>:FunctionalPurpose" type="id" name="id">
          <option value="1">Опция 1</option>
          <option value="2">Опция 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="heritage-availability-selector">Доступность памятника</label>
        <select class="form-control" id="heritage-availability-selector-<%=mapId%>" data-for="avail_<%=mapId%>:Availability" type="id" name="id">
          <option value="1">Опция 1</option>
          <option value="2">Опция 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="heritage-usage-type-selector">Вид пользования</label>
        <select class="form-control" id="heritage-usage-type-selector-<%=mapId%>" data-for="ut_<%=mapId%>:UsageType" type="id" name="id">
          <option value="1">Опция 1</option>
          <option value="2">Опция 2</option>
        </select>
      </div>

      <div class="form-group">
        <label for="map-file-input-<%=mapId%>">Карта обследования</label>
        <input id="map-file-input-<%=mapId%>" data-for="map_<%=mapId%>:SurveyMap" type="file" name="fileid"></input>
        <div class="alert alert-dismissible alert-info">
          Максимальный размер документа 50 МБ.
        </div>
      </div>

    </div>

    <div id="state<%=mapId%>">
    </div>
  </div> 
</div>