<h4 class="accordion-header" id="topo-header-<%= topoId %>">
  <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
  <%= t('topoplan.singular') %> №<%= topoId %>
</h4>
  
<div class="accordion-content">
  <div class="form-group">
    <label for="topo-file-input-<%= topoId %>"><%= t('topoplan.singular') %></label>
    <input id="topo-file-input-<%= topoId %>" data-for="topo_<%= topoId %>:Image" data-subclass="heritageTopo" type="file" name="fileid">
    <div class="alert alert-dismissible alert-info">
      <%= t('examples.maxSizePhoto') %>.
    </div>

    <div class="form-group">
      <label for="topo-author-input-<%= topoId %>"><%= t('topoplan.author') %></label>
      <input class="form-control" id="topo-author-input-<%= topoId %>" data-for="topo_<%= topoId %>:Image" data-subclass="heritageTopo" type="text" name="author">
    </div>

    <div class="form-group">
      <label for="topo-year-<%= topoId %>"><%= t('topoplan.year') %></label>
      <input class="form-control" id="topo-year-<%= topoId %>" data-for="topo_<%= topoId %>:Image" data-subclass="heritageTopo" type="number" name="year">
    </div>
  </div>
</div>