<div class="content">
  <h2><%= t('heritage.new') %></h2>
  <br>
  
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('heritage.singular') %></a></li>
      <li><a href="#menu1"><%= t('doc.surveyMap.plural') %></a></li>
      <li><a href="#menu2"><%= t('photo.singular') %></a></li>
    </ul>

    <div id="home">
      <div class="form-group">
        <label for="heritage-code-input">Код ОКН</label>
        <input class="form-control" id="heritage-code-input" data-for="heritage:Heritage" type="text" name="code"></input>
      </div>

      <div class="form-group">
        <label for="heritage-name-input">Наименование<span class="required">*</span></label>
        <input class="form-control" id="heritage-name-input" data-for="heritage:Heritage" type="text" name="name" data-req></input>
      </div>

      <div class="form-group">
        <label for="heritage-address-input">Адрес</label>
        <input class="form-control" id="heritage-address-input" data-for="heritage:Heritage" type="text" name="address"></input>
      </div>

      <div id="coord-picker" class="coords">
        <div class="form-group">
          <label for="heritage-x">
            Координата X<span class="required">*</span>
          </label>
          <input class="form-control" id="heritage-x" data-for="heritage:Heritage" type="number" name="x" data-req></input>
        </div>
        <div class="form-group">
          <label for="heritage-y">
            Координата Y<span class="required">*</span>
          </label>
          <input class="form-control" id="heritage-y" data-for="heritage:Heritage" type="number" name="y" data-req></input>
        </div>
      </div>

      <div class="form-group">
        <label for="heritage-date-input">Датировка</label>
        <input class="form-control date-picker" id="heritage-date-input" data-for="heritage:Heritage" type="text" name="date"></input>
      </div>

      <div class="form-group">
        <label for="heritage-status-selector">Статус</label>
        <select class="form-control" id="heritage-status-selector" data-for="hs:HeritageStatus" type="id" name="id" dynamic="true">
          <option value="1">Выявленный</option>
          <option value="2">Находится на государственной охране</option>
        </select>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-security-type-selector">Категория охраны</label>
        <select class="form-control" id="heritage-security-type-selector" data-for="st:SecurityType" type="id" name="id">
          <option value="1">Федеральная</option>
          <option value="2">Региональная</option>
        </select>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-doc-type-input">Вид документа о постановке на государственную охрану</label>
        <input class="form-control" id="heritage-doc-type-input" data-for="heritage:Heritage" type="text" name="docType"></input>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-doc-num-input">Номер документа о постановке на государственную охрану</label>
        <input class="form-control" id="heritage-doc-num-input" data-for="heritage:Heritage" type="text" name="docNum"></input>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-doc-date-input">Дата документа о постановке на государственную охрану</label>
        <input class="form-control date-picker" id="heritage-doc-date-input" data-for="heritage:Heritage" type="text" name="docDate"></input>
      </div>

      <div class="form-group">
        <label for="heritage-border-desc-input">Описание границ</label>
        <input class="form-control" id="heritage-border-desc-input" data-for="heritage:Heritage" type="text" name="borderDesc"></input>
      </div>

      <div class="form-group">
        <label for="heritage-rod-number-input">Учетный номер БТИ</label>
        <input class="form-control" id="heritage-rod-number-input" data-for="heritage:Heritage" type="text" name="rodNum"></input>
      </div>

      <div class="form-group">
        <label for="heritage-rod-passport-input">Номер паспорта БТИ</label>
        <input class="form-control" id="heritage-rod-passport-input" data-for="heritage:Heritage" type="text" name="rodPassport"></input>
      </div>

      <div class="form-group">
        <label for="heritage-rod-date-input">Дата выдачи паспорта БТИ</label>
        <input class="form-control date-picker" id="heritage-rod-date-input" data-for="heritage:Heritage" type="text" name="rodDate"></input>
      </div>

      <div class="form-group">
        <label for="heritage-area-input">Общая площадь (км²)</label>
        <input class="form-control" id="heritage-area-input" data-for="heritage:Heritage" type="number" name="area"></input>
      </div>

      <div class="form-group">
        <label for="heritage-file-input">Документ о постановке на учет</label>
        <input id="heritage-file-input" accept=".pdf,.doc,.docx" data-for="heritage:Heritage" type="file" name="fileid"></input>
        <div class="alert alert-dismissible alert-info">
          Максимальный размер документа 50 МБ.
        </div>
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="menu1">
      <button id="add-map-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Добавить карту обследования
      </button>
    </div>
    <div id="menu2"></div>
  <div class="maps">
    <%= widget("Map", {}, "map") %>
  </div>
</div>