<div class="content wide-content">
  <h2><%= t('heritage.new') %></h2>
  <br>
  
  <div id="container">
    <ul>
      <li><a href="#main"><%= t('heritage.singular') %></a></li>
      <li><a href="#maps"><%= t('doc.surveyMap.plural') %></a></li>
      <li><a href="#monument"><%= t('monument.plural') %></a></li>
      <li><a href="#photo"><%= t('photo.plural') %></a></li>
      <li><a href="#topoplan"><%= t('topoplan.plural') %></a></li>
    </ul>

    <div id="main">
      <div class="form-group">
        <label for="heritage-code-input"><%= t('heritage.code') %></label>
        <input class="form-control" id="heritage-code-input" data-for="heritage:Heritage" type="text" name="code" data-has-display></input>
      </div>

      <div class="form-group">
        <label for="heritage-name-input"><%= t('common.name1') %><span class="required">*</span></label>
        <input class="form-control" id="heritage-name-input" data-for="heritage:Heritage" type="text" name="name" data-req data-has-display></input>
      </div>

      <div class="form-group">
        <label for="heritage-address-input"><%= t('common.address') %></label>
        <input class="form-control" id="heritage-address-input" data-for="heritage:Heritage" type="text" name="address" data-has-display></input>
      </div>

      <input class="form-control" id="her-spatref-date" data-for="hsr:SpatialReference" data-subclass="HerSpatRef" type="number" name="date" data-need-date hidden></input>

      <div class="form-group">
        <label for="her-spatref-selector"><%= t('common.accuracy') %></label>
        <select class="form-control" id="her-spatref-selector" data-for="hsrt:SpatialReferenceType" data-subclass="HerSpatRefType" type="id" name="id"></select>
      </div>

      <div id="coord-picker" class="coords">
        <div class="form-group">
          <label for="heritage-x">
            <%= t('coord.x') %>
          </label>
          <input class="form-control" id="heritage-x" data-for="hsr:SpatialReference" data-subclass="HerSpatRef" type="number" name="x"></input>
        </div>
        <div class="form-group">
          <label for="heritage-y">
            <%= t('coord.y') %>
          </label>
          <input class="form-control" id="heritage-y" data-for="hsr:SpatialReference" data-subclass="HerSpatRef" type="number" name="y"></input>
        </div>
      </div>

      <div class="form-group">
        <label for="heritage-date-input"><%= t('date.singular') %></label>
        <input class="form-control" id="heritage-date-input" data-for="heritage:Heritage" type="text" name="date" data-has-display></input>
      </div>

      <div class="form-group">
        <label for="heritage-status-selector"><%= t('common.status') %> </label>
        <select class="form-control" id="heritage-status-selector" data-for="hs:HeritageStatus" type="id" name="id" dynamic="true" data-has-display></select>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-security-type-selector"><%= t('common.protCateg') %> </label>
        <select class="form-control" id="heritage-security-type-selector" data-for="st:SecurityType" type="id" name="id" data-has-display></select>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-doc-type-input"><%= t('common.protDoc') %> </label>
        <input class="form-control" id="heritage-doc-type-input" data-for="file:File" type="text" name="docType" data-has-display></input>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-doc-num-input"><%= t('common.protDocNumber') %> </label>
        <input class="form-control" id="heritage-doc-num-input" data-for="file:File" type="text" name="docNum" data-has-display></input>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="2">
        <label for="heritage-doc-date-input"><%= t('common.protDocDate') %> </label>
        <input class="form-control date-picker" id="heritage-doc-date-input" data-for="file:File" type="text" name="docDate" data-has-display></input>
      </div>

      <div class="form-group">
        <label for="heritage-border-desc-input"><%= t('common.borderDescr') %> </label>
        <input class="form-control" id="heritage-border-desc-input" data-for="heritage:Heritage" type="text" name="borderDesc" data-has-display></input>
      </div>

      <div class="checkbox" toggle-by="heritage-status-selector" need-option="2">
        <label for="select-doc-checkbox">
          <input id="select-doc-checkbox" type="checkbox" dynamic="true">
          <%= t('common.existDoc') %>
        </label>
      </div>

      <div class="form-group" toggle-by="select-doc-checkbox" need-option="true">
        <select class="form-control" id="heritage-doc-selector" data-for="file:File" type="id" name="id" dynamic="true" data-has-display></select>
      </div>

      <div class="form-group" toggle-by="select-doc-checkbox" need-option="false">
        <label for="heritage-file-input"><%= t('common.addNewRegDoc') %></label>
        <input id="heritage-file-input" accept=".pdf,.doc,.docx" data-for="file:File" type="file" name="fileid"></input>
        <div class="alert alert-dismissible alert-info">
          <%= t('examples.maxSizeDoc') %>.
        </div>
      </div>

      <div class="form-group" toggle-by="heritage-status-selector" need-option="1">
        <label for="heritage-file-input"><%= t('common.addNewRegDoc') %></label>
        <input id="heritage-file-input" accept=".pdf,.doc,.docx" data-for="file:File" type="file" name="fileid"></input>
        <div class="alert alert-dismissible alert-info">
          <%= t('examples.maxSizeDoc') %>.
        </div>
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        <%= t('common.next') %>
      </button>
    </div>

    <div id="maps">
      <button id="add-map-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('common.addSurveyMap') %>
      </button>
    </div>

    <div id="monument">
      <button id="add-monument-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('monument.add1') %>
      </button>
    </div>

    <div id="photo">
      <button id="add-photo-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('common.addPhoto') %>
      </button>
    </div>

    <div id="topoplan">
      <button id="add-topoplan-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('topoplan.add') %>
      </button>
    </div>

    <button id="send-button" class="btn btn-primary">
      <i class="fa fa-cogs"></i>
      <%= t('common.create') %>
    </button>
  </div>
</div>

<div id="map" class="maps small-map"></div>