<div class="content">  
  <h2><%= t("heritage.info") %> "<%= ctl(heritage.name) %>"</h2>
  
  <div id="container" class="tabs">
    <ul>
      <li><a href="#general"><%= t('common.general') %></a></li>
      <li><a href="#monuments"><%= t('monument.plural') %></a></li>
      <li><a href="#researches"><%= t('research.plural') %></a></li>
      <li><a href="#spatialHistory"><%= t('common.spatialHistory') %></a></li>
      <li><a href="#topoplans"><%= t('topoplan.plural') %></a></li>
      <li><a href="#photos"><%= t('photo.plural') %></a></li>
    </ul>

    <div id="general">
      <dt><%= t('heritage.code') %>:</dt>
      <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="code"><%= maybe(heritage, t('common.notDefined'),"code") %></dd>

      <dt><%= t('common.name1') %>:</dt>
      <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="name"><%= ctl( maybe(heritage, t('common.notDefined'),"name") ) %></dd>

      <dt><%= t('common.address') %>:</dt>
      <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="address"><%= maybe(heritage, t('common.notDefined'),"address") %></dd>

      <dt><%= t('date.singular') %>:</dt>
      <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="date"><%= maybe(heritage, t('common.notSpecif'), "date") %></dd>

      <dt><%= t('common.status') %> :</dt>
      <dd><%= maybe(herStatus[0], t('common.notDefined'), `${prefix}name`) %></dd>

      <% if ( _.size(secType[0]) ) { %>
        <dt><%= t('common.protCateg') %> :</dt>
        <dd><%= maybe(secType[0], t('common.notSpecif'), `${prefix}name`) %></dd>

        <% if ( _.size(file) ) { %>
          <dt><%= t('common.protDoc') %> :</dt>
          <dd><%= maybe(file, t('common.notDefined'),"docType") %></dd>

          <dt><%= t('common.protDocNumber') %> :</dt>
          <dd><%= maybe(file, t('common.notDefined'),"docNum") %></dd>

          <dt><%= t('common.protDocDate') %> :</dt>
          <dd><%= maybe(file, t('common.notSpecif'),"docDate") %></dd>
        <% } else { %>
          <dt><%= t('common.protDoc') %> :</dt>
          <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="docType"><%= maybe(heritage, t('common.notDefined'),"docType") %></dd>

          <dt><%= t('common.protDocNumber') %> :</dt>
          <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="docNum"><%= maybe(heritage, t('common.notDefined'),"docNum") %></dd>

          <dt><%= t('common.protDocDate') %> :</dt>
          <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="docDate"><%= maybe(heritage, t('common.notSpecif'),"docDate") %></dd>
        <% } %>
      <% } %>

      <dt><%= t('common.borderDescr') %> :</dt>
      <dd class="edit-field" data-for="Heritage" data-type="textarea" data-id="<%=heritage.id%>" data-field="borderDesc"><%= maybe(heritage, t('common.notSpecif'),"borderDesc") %></dd>

      <dt><%= t('doc.registration.singular') %>:</dt>
      <dd><%= App.models.File.href(heritage.fileid, t('common.document')) %></dd>

    </div>

    <div id="monuments">
      <div class="accordion">
        <% _.each(monuments, function(monument, i) { %>
          
          <h4 class="accordion-header">
            <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
            <%= t('monument.singular') %> №<%= i+1 %>: <b><%= ctl(knowledges[i][0].monument_name) %></b>
          </h4>
          
          <div class="accordion-content">
            <dl>
              <dt></dt>
              <dd>
                <a href="#monument/show/<%= monument.id %>">
                <%= t('goto.monument') %>
              </a>
              </dd>
              <dt><%= t('monument.names') %>:</dt>
              <dd><%= _.uniq(_.map(knowledges[i], function(k, i) {return ctl(k.monument_name)})).join(", ") %></dd>
              <dt><%= t('monument.prop.epoch') %>:</dt>
              <dd><%= maybe(epochs[i][0], t('common.noData'), `${prefix}name`) %></dd>
              <dt><%= t('monument.prop.type') %>:</dt>
              <dd><%= maybe(monTypes[i][0], t('common.noData'), `${prefix}name`) %></dd>
            </dl>
          </div>

        <% }) %>
      </div>
    </div>
    <div id="researches">
      <%= _.uniq(_.map(researches, function(res, i) {
        let resTitle = `${res.name} (${resTypes[i][0][`${prefix}name`]}, ${res.year})`;
        return App.models.Research.href(res.id, ctl(resTitle));
      })).join("<br>") %>
    </div>
    
    <div id="spatialHistory">
      <% 
      let counter = 1; %>
      <dt><%= herSpatrefT[0].name %></dt>
      <% _.each(herSpatrefT, function(obj, i) { %>
        <% let date = new Date(herSpatref[i].date) %>
        <dd><%= counter++ %>) <%= t('coord.x') %>: <%= herSpatref[i].x %>, <%= t('coord.y') %>: <%= herSpatref[i].y %>
          <% if (counter == 2) { %>
           - <b><%= t('common.actualCoords') %></b>
          <% } %>
        </dd>
        <dd><%= t('common.createdDate') %>: <%= date.getDate() %>.<%= date.getMonth() + 1 %>.<%= date.getFullYear() %> <%= date.getHours() %>:<%= date.getMinutes() %>:<%= date.getSeconds() %></dd>
        <br>
      <% }) %>
    </div>

    <div id="topoplans">
      <%= App.views.functions.getTopoCard(topo) %>
    </div>
    <div id="photos">
      <%= App.views.functions.getMonImageCard({photo, cd}) %>
    </div>
  </div>
</div>

<div id="map" class="maps">
</div>