<table cols="7" id="map-table-<%=mapId%>" class="map-state-table table-bordered">
  <thead>
    <tr>
      <td></td>
      <th>Наименование элемента</th>
      <th>Наличие</th>
      <th>Материал</th>
      <th>Состояние</th>
      <th>Дефекты</th>
      <th>Предмет охраны</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan="4">Основания</td>
      <td>основание фундамента</td>
    </tr>
    <tr>
      <td>фундамент</td>
    </tr>
    <tr>
      <td>цоколи</td>
    </tr>
    <tr>
      <td>отмостки</td>
    </tr>

    <tr>
      <td rowspan="2">Несущие конструкции</td>
      <td>стены</td>
    </tr>
    <tr>
      <td>колонны, столбы</td>
    </tr>

    <tr>
      <td rowspan="4">Перекрытия</td>
      <td>подвалов</td>
    </tr>
    <tr>
      <td>цокольного этажа</td>
    </tr>
    <tr>
      <td>межэтажные</td>
    </tr>
    <tr>
      <td>перемычки оконных и дверных проемов</td>
    </tr>

    <tr>
      <td rowspan="4">Крыша</td>
      <td>мауэрлат</td>
    </tr>
    <tr>
      <td>стропила</td>
    </tr>
    <tr>
      <td>обрешетка</td>
    </tr>
    <tr>
      <td>кровля</td>
    </tr>

    <tr>
      <td rowspan="3">Наружные водоотводные конструкции</td>
      <td>желоба</td>
    </tr>
    <tr>
      <td>трубы</td>
    </tr>
    <tr>
      <td>сливы</td>
    </tr>

    <tr>
      <td rowspan="12">Фасады</td>
      <td>облицовка стен</td>
    </tr>
    <tr>
      <td>окраска стен</td>
    </tr>
    <tr>
      <td>монументальная живопись</td>
    </tr>
    <tr>
      <td>скульптура</td>
    </tr>
    <tr>
      <td>декоративные украшения</td>
    </tr>
    <tr>
      <td>иконостасы</td>
    </tr>
    <tr>
      <td>карнизы</td>
    </tr>
    <tr>
      <td>пилястры</td>
    </tr>
    <tr>
      <td>лепнина</td>
    </tr>
    <tr>
      <td>лестницы</td>
    </tr>
    <tr>
      <td>двери</td>
    </tr>
    <tr>
      <td>несъемные светильники</td>
    </tr>

    <tr>
      <td rowspan="4">Монументы</td>
      <td>постамент</td>
    </tr>
    <tr>
      <td>скульпутра</td>
    </tr>
    <tr>
      <td>обелиск</td>
    </tr>
    <tr>
      <td>колонна</td>
    </tr>

    <tr>
      <td rowspan="6">Инженерные коммуникации</td>
      <td>электроснабжение</td>
    </tr>
    <tr>
      <td>отопление</td>
    </tr>
    <tr>
      <td>водопровод</td>
    </tr>
    <tr>
      <td>канализация</td>
    </tr>
    <tr>
      <td>охранная сигнализация</td>
    </tr>
    <tr>
      <td>оборудованик ЛВС</td>
    </tr>

    <tr>
      <td rowspan="11">Территория</td>
      <td>поверхность</td>
    </tr>
    <tr>
      <td>культурный слой</td>
    </tr>
    <tr>
      <td>вал</td>
    </tr>
    <tr>
      <td>ров</td>
    </tr>
    <tr>
      <td>стены</td>
    </tr>
    <tr>
      <td>курган</td>
    </tr>
    <tr>
      <td>надмогильные сооружения</td>
    </tr>
    <tr>
      <td>канализация</td>
    </tr>
    <tr>
      <td>яма-западина</td>
    </tr>
    <tr>
      <td>дамба</td>
    </tr>
    <tr>
      <td>наскольное изображение</td>
    </tr>
  </tbody>
</table>