<td class="menu">
  <select id="exist${rowNum}">
    <option value="1">Да</option>
    <option value="2">Нет</option>
  </select>
</td>
<td class="menu">
  <select id="material${rowNum}">
    <option value="1">Дерево</option>
    <option value="2">Камень</option>
  </select>
</td>
<td class="menu">
  <select id="condition${rowNum}">
    <option value="1">Отличное</option>
    <option value="2">Удовлет.</option>
  </select>
</td>
<td class="menu">
  <select id="defects${rowNum}">
    <option value="1">Отсутствуют</option>
    <option value="2">Трещины</option>
  </select>
</td>
<td class="menu">
  <select id="security${rowNum}">
    <option value="1">Да</option>
    <option value="2">Нет</option>
  </select>
</td>