<td class="menu">
  <select id="exist${rowNum}" class="map-row-exist">
    <option value="0">Нет</option>
    <option value="1">Да</option>
  </select>
</td>
<td class="menu">
  <select id="material${rowNum}" class="map-table-row" disabled>
    <option value="0">-</option>
    <option value="100">Дерево</option>
    <option value="200">Кирпич</option>
    <option value="300">Бетон</option>
    <option value="400">Земля</option>
    <option value="500">Гипс</option>
    <option value="600">Камень</option>
    <option value="670">Гранит</option>
    <option value="680">Известняк</option>
  </select>
</td>
<td class="menu">
  <select id="condition${rowNum}" class="map-table-row" disabled>
    <option value="0">-</option>
    <option value="1">Удовлет.</option>
    <option value="2">Неудовлет.</option>
    <option value="3">Аварийное</option>
    <option value="4">Разрушен</option>
  </select>
</td>
<td class="menu">
  <select id="defects${rowNum}" class="map-table-row" disabled>
    <option value="0">-</option>
    <option value="10">Разрушено</option>
    <option value="20">Отсутсвует</option>
    <option value="30">Обрушение</option>
    <option value="110">Вертикальные трещины</option>
    <option value="130">Горизонтальные трещины</option>
    <option value="150">Косые(наклонные) трещины</option>
    <option value="170">Смешанные трещины</option>
    <option value="200">Осыпание красочного слоя</option>
    <option value="220">Отслоение штукатурки</option>
    <option value="240">Выкрашиване кладки</option>
    <option value="260">Высолы</option>
    <option value="300">Коррозия металла</option>
    <option value="400">Деформация вертикальная</option>
    <option value="420">Деформация горизонтальная</option>
    <option value="440">Деформация изгибная</option>
    <option value="460">Деформация смешанная</option>
    <option value="500">Поражение гнилью</option>
    <option value="600">Поражение грибком</option>
    <option value="700">Нарушение целостности культурного слоя природное</option>
    <option value="730">Нарушение целостности культурного слоя антропогенное</option>
    <option value="750">Нарушение целостности техногенное культурного слоя</option>
  </select>
</td>
<td class="menu">
  <select id="security${rowNum}" class="map-table-row" disabled>
    <option value="0">Нет</option>
    <option value="1">Да</option>
  </select>
</td>