<div class="content-full">  
  <h2><%= t("admin.panel") %></h2>

  <div class="form-group short">
    <label for="entity-selector">Сущность</label>
    <select class="form-control" id="entity-selector">
    	<option value="Author">Автор</option>
    	<option value="Research">Исследование</option>
    	<option value="Monument">Памятник</option>
    	<option value="Artifact">Артефакт</option>
    	<option value="Excavation">Раскоп</option>
    	<option value="Heritage">ОКН</option>
    	<option value="Epoch">Эпоха</option>
    	<option value="Culture">Культура</option>
    	<option value="Report">Отчет</option>
    	<option value="Publication">Публикация</option>
    	<option value="City">Город</option>
    	<option value="Organization">Организация</option>
    </select>
  </div>

  <div class="form-group short">
    <label for="entity-name-input">Фильтр по названию</label>
    <input class="form-control" id="entity-name-input">
  </div>

  <button id="show-button" class="btn btn-primary">
    <i class="fa fa-cogs"></i>
    Найти
  </button>

  <table class="pure-table">
    <thead>
      <tr>
        <th>id</th>
        <th>Название</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody id="results"></tbody>
  </table>
</div>
