{{define "nav"}}

<nav class="header">
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
    <a href="#" class="pure-menu-heading">Gis App</a>
    
    <ul class="pure-menu-list">
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Hello</a>
      </li>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Its me</a>
      </li>
      <li class="pure-menu-item">
        <a href="#" class="pure-menu-link">Error</a>
      </li>
      <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
        <a href="#" class="pure-menu-link">User</a>
        <ul class="pure-menu-children">
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Profile</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Help</a></li>
          <li class="pure-menu-item"><a href="#" class="pure-menu-link">Sign out</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

{{end}}
