<div class="content">
  <h2><%= t('author.singular') %></h2>

  <p>
    <% if (photos.length) { %>
      <% _.each(photos, function(ph) { %>
        <img src="<%= dburl + '/local_storage/' + ph.fileid %>" height="100px">
      <% }); %>
    <% } else { %>
      <span>Пока нет</span>
    <% } %>
  </p>

  <div class="pure-g">
    <div class="pure-u-1-4"><%= t('author.prop.name') %>:</div>
    <div class="pure-u-1-3"><%= author.name %></div>
  </div>

  <br/>

  <div class="pure-g">
    <div class="pure-u-1-4"><%= t('author.prop.year') %>:</div>
    <div class="pure-u-1-3"><%= (author.birthdate) %></div>
  </div>

  <h3><%= t('research.plural') %>:</h3>
  <% if (researches.length) { %>
    <% _.each(researches, function(r, i) { %>
      <%= i + 1 %>)
      <a href="#research/show/<%= r.id %>"><%= r.type %> - <%= r.year%></a>
      <br><br>
    <% }); %>
  <% } else { %>
    <p>Нет исследований</p>     
  <% } %>     

  <h3><%= t('author.prop.publications') %>:</h3>
  <% if (pubs.length) { %>
    <% _.each(pubs, function(pub, i) { %>
      <a href="#publication/show/<%= pub.id %>"><%= pub.name %> - <%= pub.published_at%></a> - автор
      <br><br>
    <% }); %>
  <% } %>
  <% if (pubsco.length) { %>
    <% _.each(pubsco, function(pub, i) { %>
      <a href="#publication/show/<%= pub.id %>"><%= pub.name %> - <%= pub.published_at%></a> - соавтор
      <br><br>
    <% }); %>
  <% } %>

  <% if (!(pubs.length && pubsco.length)) { %>
    <p>Нет публикаций</p>     
  <% } %>  

  <h3><%= t('organization.plural') %>:</h3>
  <% if (jobs.length) { %>
    <% _.each(jobs, function(job, i) { %>
      <%= orgs[i].name %>,
      <p>
        <%= t('work-post') %>:
        <%= job.post_name  %>
        <%= t('since') %>
        <%= job.period[0] %>
      </p>
      <br>
    <% }); %>
  <% } else { %>
    <p>Нет организаций</p>
  <% } %>
  <br>

  <p>
    Биография:
  </p>
  <% if (author.biography) { %>
    <%= author.biography %>
  <% } else { %>
    Не заполнено
  <% } %>
<div class="maps">
  <%= widget("Map", {"placemarks": placemarks}, "map") %>
</div>
</div>
