<div class="content">  
  <h2><%= t("selection.singular") %> "<%= selection.name %>"</h2>

  <button class="btn btn-primary" id="get-all-radiocarbon">
    <%= t("selection.getRadiocarbon") %>
  </button>
  <br>
  <button class="btn btn-primary" id="get-sites-coords">
    <%= t("selection.getSitesCoords") %>
  </button>
  <br>
  <button class="btn btn-primary" id="delete-selection">
    <%= t("selection.delete") %>
  </button>
  <br>

  <div class="ct-chart ct-perfect-fourth" style="height: 0px"></div>
  <h3><a download="radiocarbon_datings.txt" id="test" style="display: none;"><%= t("common.downloadFile") %></a></h3>
  <br>
  <br>

  <dt><%= t('monument.count') %>:</dt>
  <dd><%= _.size(monuments) %></dd>

  <dt><%= t('monument.typess') %>:</dt>
  <% 
  let types = {};
  _.each(monTypes, function(monType, i) { 
    if (!types[monType[0][`${prefix}name`]]) {
      types[monType[0][`${prefix}name`]] = 0;
    } 
    types[monType[0][`${prefix}name`]]++;
  })
  _.each(types, function(type, key) { %>
    <%= `${key}: ${type}`%>
    <br>
  <% }) %>
  <br>

  <dt><%= t('monument.epochs') %>:</dt>
  <% 
  let eps = {};
  _.each(epochs, function(epoch, i) { 
    if (!eps[epoch[0][`${prefix}name`]]) {
      eps[epoch[0][`${prefix}name`]] = 0;
    } 
    eps[epoch[0][`${prefix}name`]]++;
  })
  _.each(eps, function(ep, key) { %>
    <%= `${key}: ${ep}`%>
    <br>
  <% }) %>
  <br>

  <% _.each(monuments, function(mon, i) { 
    let monTitle = `${knowledges[i][0].monument_name} (${epochs[i][0].name}, ${monTypes[i][0].name})` %>
    <%= App.models.Monument.href(mon.id, ctl(monTitle)) %>
    <br>
  <% }) %>

<div>

<div id="map" class="maps"></div>
