<div class="content-full">  
  <h2><%= t("admin.download") %></h2>

  <div class="form-group short">
    <label for="entity-selector"><%= t("common.entity") %></label>
    <select class="form-control" id="entity-selector">
      <option value="Monument"><%= t("monument.singular") %></option>
      <option value="Artifact"><%= t("artifact.singular") %></option>
      <option value="Heritage"><%= t("heritage.singular") %></option>
    </select>
  </div>

  <div class="form-group short">
    <label for="entity-name-input"><%= t("admin.filter") %></label>
    <input class="form-control" id="entity-name-input">
  </div>

  <div class="form-group short">
    <label for="entity-culture-input"><%= t("admin.filterByCulture") %></label>
    <input class="form-control" id="entity-culture-input">
  </div>

  <label>Левая верхняя граница области поиска</label>
  <div id="coord-picker-1" class="coords">
    <div class="form-group">
      N<input class="form-control" id="coords-top" type="number"></input>
    </div>
    <div class="form-group">
      E<input class="form-control" id="coords-left" type="number"></input>
    </div>
  </div>

  <label>Правая нижняя граница области поиска</label>
  <div id="coord-picker-2" class="coords">
    <div class="form-group">
      N<input class="form-control" id="coords-bottom" type="number"></input>
    </div>
    <div class="form-group">
      E<input class="form-control" id="coords-right" type="number"></input>
    </div>
  </div>

  <button id="show-button" class="btn btn-primary">
    <i class="fa fa-cogs"></i>
    <%= t("admin.find") %>
  </button>

  <table class="pure-table" id="table-admin">
    <thead>
      <tr id="headers">
      </tr>
    </thead>
    <tbody id="results"></tbody>
  </table>
</div>
