<label>Введите левую верхнюю границу области поиска</label>
<div id="coord-picker-1" class="coords">
  <div class="form-group">
    N<input class="form-control" id="coords-top" type="number"></input>
  </div>
  <div class="form-group">
    E<input class="form-control" id="coords-left" type="number"></input>
  </div>
</div>

<label>Введите правую нижнюю границу области поиска</label>
<div id="coord-picker-2" class="coords">
  <div class="form-group">
    N<input class="form-control" id="coords-bottom" type="number"></input>
  </div>
  <div class="form-group">
    E<input class="form-control" id="coords-right" type="number"></input>
  </div>
</div>