<div class="content">
  <h2><%= t('search.bigSearch') %></h2>

  <label>
    <%= t('search.subject') %>
    <select class="form-control" id="search-object">
      <option value="author"><%= t('author.singular') %></option>
      <option value="research"><%= t('research.singular') %></option>
    </select>
  </label>

  <button class="btn btn-primary" id="add-criterion-button">
    <i class="fa fa-search"></i>
    <%= t("search.addCriterion") %>
  </button>

  <button class="btn btn-primary" id="show-results-button">
    <i class="fa fa-search"></i>
    <%= t("search.showResults") %>
  </button>

  <br>
  <div class="search-results" id="search-results"></div>

  <div id="map" class="maps">
</div>