<% if (needHeader == true) { %>
  <h4 class="accordion-header" id="monument-header-<%= monId %>">
    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
    Памятник №<%= monId %>
  </h4>

<div class="accordion-content monument-content">
<% } %>

  <div class="form-group find-monument-<%= monId %>">
    <label>Выбрать существующий памятник <span class="required">*</span></label>
    <input class="form-control" id="monument-input-<%= monId %>"></input>
    <input id="monument-input-id-<%= monId %>" data-for="m_<%= monId %>:Monument" hidden type="id" name="id" data-req="up"></input>
    <input id="monument-clarify-input-id-<%= monId %>" data-for="clarm_<%= monId %>:Monument" hidden type="id" name="id" data-few="true" data-subclass="ClarifyMon"></input>
    <br>
    <div class="form-group find-culture-<%= monId %>">
      <label for="culture-input-<%= monId %>">Выберите культурную принадлежность</label>
      <input id="culture-input-<%= monId %>" class="form-control">
      <input id="culture-input-<%= monId %>-id" hidden data-for="c_<%= monId %>:Culture" type="id" name="id">
    </div>

    <div class="form-group">
      <label>Координаты выбранного памятника</label>
      <p>X: <span id="spatref-x-<%= monId %>">памятник не выбран</span></p>
      <p>Y: <span id="spatref-y-<%= monId %>">памятник не выбран</span></p>
      <p>Точность: <span id="spatref-type-<%= monId %>">памятник не выбран</span></p>
    </div>

    <div class="form-group" id="monument-new-coords-button-<%= monId %>">
      <button id="clarify-button-<%= monId %>" class="btn btn-primary" style="display:none">
        <i class="fa fa-cogs"></i>
        Уточнить координаты
      </button>
    </div>
  </div>

  <div id="monument-new-coords-<%= monId %>" style="display:none">
    <div id="coord-picker-<%= monId %>" class="coords">
      <div class="form-group">
        <label for="monument-x-<%= monId %>">
          Координата x
        </label>
        <input class="form-control" id="monument-x-<%= monId %>" data-for="spatref_<%= monId %>:SpatialReference" type="number" name="x" used="false"></input>
      </div>
      <div class="form-group">
        <label for="monument-y-<%= monId %>">
          Координата y
        </label>
        <input class="form-control" id="monument-y-<%= monId %>" data-for="spatref_<%= monId %>:SpatialReference" type="number" name="y" used="false"></input>
      </div>
    </div>

    <input class="form-control" id="spatref-date-<%= monId %>" data-for="spatref_<%= monId %>:SpatialReference" type="number" name="date" data-need-date hidden used="false"></input>

    <div class="form-group">
      <label for="spatref-selector-<%= monId %>">Точность пространственной привязки</label>
      <select class="form-control" id="spatref-selector-<%= monId %>" data-for="srt<%= monId %>:SpatialReferenceType" type="id" name="id" used="false"></select>
    </div>
  </div>

  <div class="form-group">
    <label for="monument-name-input-<%= monId %>">Название памятника <span class="required">*</span></label>
    <input class="form-control monument-name" id="monument-name-input-<%= monId %>" data-for="k_<%= monId %>:Knowledge" type="text" name="monument_name" data-group="<%= monId %>" data-req></input>
  </div>
  <div class="form-group">
    <label for="monument-desc-input-<%= monId %>">Описание памятника</label>
    <textarea class="form-control" id="monument-desc-input-<%= monId %>" data-for="k_<%= monId %>:Knowledge" type="text" name="description" data-group="<%= monId %>"></textarea>
  </div>

  <div class="form-group" id="place-for-layers-<%= monId %>">
  </div>

<% if (needHeader == true) { %>
  </div>
<% } %>

<!-- Форма для нового памятника -->
<script type="text/template" class="add-monument-<%= monId %>">
  <h4>Добавление нового памятника</h4>
  <div class="form-group">
    <input id="monument-tmp-input-<%= monId %>" value="Костыль" hidden data-for="m_<%= monId %>:Monument" type="text" name="tmp" data-group="<%= monId %>"></input>
  </div>
</script>

<!-- Кнопка для добавления культурных слоев -->
<script type="text/template" id="add-layer-<%= monId %>">
  <button id="add-layer-button-<%= monId %>" class="btn btn-primary" monId="<%= monId %>">
    <i class="fa fa-cogs"></i>
    Добавить культурный слой
  </button>
</script>