<div class="content">
  <h2><%= t('research.new') %></h2>
  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#monument"><%= t('monument.singular') %></a></li>
      <li><a href="#exc"><%= t('excavation.plural') %></a></li>
      <li><a href="#topo"><%= t('topoplan.plural') %></a></li>
    </ul>

    <div id="home">
      <legend>Сведения об исследовании</legend>

      <div class="form-group find-author">
        <h4>Введите существующего автора исследования</h4>
        <label for="author-input">Имя автора <span class="required">*</span></label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" hidden type="id" name="id" data-req="up">
      </div>

      <div class="form-group find-pub">
        <h4>Выберите существующую публикацию</h4>
        <label for="pub-input">Название публикации <span class="required">*</span></label>
        <input class="form-control" id="pub-input">
        <input id="pub-input-id" data-for="pub:Publication" type="id" hidden name="id" data-req="up">
      </div>

      <div hidden>
        <input class="form-control" id="research-input-id" data-for="rs:Research" type="id" name="id">
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        Далее
      </button>
    </div>

    <div id="monument">
      <legend>Сведения о памятниках</legend>

      <button id="add-monument-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Добавить памятник
      </button>

      <button id="send-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Создать
      </button>
    </div>

    <div id="exc">
      <legend>Сведения о вскрытиях</legend>

      <button id="add-exc-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Добавить раскоп
      </button>
    </div>

    <div id="topo">
      <button id="add-topo-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        Добавить топоплан
      </button>
    </div>
  </div>
</div>

<div id="map" class="maps"></div>

<!-- Создание нового автора -->
<script type="text/template" class="add-author">
  <div class="form-group">
    <h4>Добавление нового автора</h4>
    <label for="author-name-input">Имя автора <span class="required">*</span></label>
    <input class="form-control" id="author-name-input" data-for="author:Author" type="text" name="name" data-req>
  </div>

  <div class="checkbox">
    <label>
      <input id="more-author-checkbox" type="checkbox" dynamic="true">
      Дополнительная информация об авторе
    </label>
  </div>

  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-birth-date-input">Год рождения</label>
    <input class="form-control" id="author-birth-date-input" data-for="author:Author" type="number" name="birthdate">
  </div>
  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-photo-input">Фотография</label>
    <input id="author-photo-input" accept="image/jpeg,image/x-png" data-for="aimg:Image" type="file" name="fileid" data-subclass="AuthorImage">
    <br>
    <div class="alert alert-dismissible alert-info">
      Максимальный размер фотографии 10 МБ.
    </div>
  </div>
</script>

<!-- Создание новой публикации и исследования -->
<script type="text/template" class="add-pub">
  <h4>Добавление новой публикации</h4>

  <div class="form-group">
    <label for="pub-name-input">Название публикации<span class="required">*</span></label>
    <input class="form-control" id="pub-name-input" data-for="pub:Publication" type="text" name="name" data-req>
  </div>
  <div class="form-group">
    <label for="pub-year-input">Год издания<span class="required">*</span></label>
    <input class="form-control" id="pub-year-input" data-for="pub:Publication" type="number" name="published_at" data-req>
  </div>

  <div class="form-group">
    <label for="pub-type-selector">Тип публикации</label>
    <select class="form-control" id="pub-type-selector" data-for="pt:PublicationType" type="id" name="id" dynamic="true"></select>
  </div>

  <div class="checkbox">
    <label for="more-pub-checkbox">
      <input id="more-pub-checkbox" type="checkbox" dynamic="true">
      Дополнительная информация о публикации
    </label>
  </div>

  <div class="form-group" toggle-by="more-pub-checkbox" need-option="true">
    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="publisher-input">Издательство</label>
      <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="isbn-input">ISBN</label>
      <input class="form-control" id="isbn-input" data-for="pub:Publication" type="text" name="ISBN">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="pages-input">Количество страниц</label>
      <input class="form-control" id="pages-input" data-for="pub:Publication" type="number" name="pages">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="2">
      <label for="edi-type-selector">Тип издания</label>
      <select class="form-control" id="edi-type-selector" data-for="et:EditionType" type="id" name="id" dynamic="true"></select>
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="2">

      <div class="form-group" toggle-by="edi-type-selector" need-option="2">
        <div class="form-group">
          Продолжающееся издание
          <select class="form-control" id="edi-cont" data-for="pub:Publication" type="number" name="editionContinue" dynamic="true">
            <option value="1">Да</option>
            <option value="2">Нет</option>
          </select>
        </div>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="edi-name-input">Название журнала</label>
        <input class="form-control" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="2.4.5">
        <label for="edi-name-input">Название сборника</label>
        <input class="form-control" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="3">
        <label for="edi-name-input">Название монографии</label>
        <input class="form-control" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-name-input">Название конференции</label>
        <input class="form-control" id="conf-name-input" data-for="pub:Publication" type="text" name="conferenceName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-start-date">Дата начала конференции</label>
        <input class="form-control date-picker" id="conf-start-date" data-for="pub:Publication" type="text" name="conferenceStartDate"></input>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-end-date">Дата окончания конференции</label>
        <input class="form-control date-picker" id="conf-end-date" data-for="pub:Publication" type="text" name="conferenceEndDate"></input>
      </div>

      <div class="form-group" toggle-by="edi-cont" need-option="1">
        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="edi-series-name-input">Название серии</label>
          <input class="form-control" id="edi-series-name-input" data-for="pub:Publication" type="text" name="editionSeriesName">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="publisher-input">Издательство</label>
          <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="edition-input">Выпуск</label>
          <input class="form-control" id="edition-input" data-for="pub:Publication" type="text" name="edition">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="num-overall-input">№</label>
          <input class="form-control" id="num-overall-input-input" data-for="pub:Publication" type="number" name="numOverall">
        </div>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="publisher-input">Издательство</label>
        <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
      </div>

      <div class="form-group">
        <label for="volume-input">Том</label>
        <input class="form-control" id="volume-input" data-for="pub:Publication" type="text" name="volume">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="edition-input">Выпуск</label>
        <input class="form-control" id="edition-input" data-for="pub:Publication" type="text" name="edition">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="num-overall-input">№ (общий)</label>
        <input class="form-control" id="num-overall-input-input" data-for="pub:Publication" type="number" name="numOverall">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="num-year-input">№ (годовой)</label>
        <input class="form-control" id="num-year-input-input" data-for="pub:Publication" type="number" name="numYear">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="issn-input">ISSN</label>
        <input class="form-control" id="issn-input" data-for="pub:Publication" type="text" name="issn">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="2.3.4.5">
        <label for="isbn-input">ISBN</label>
        <input class="form-control" id="isbn-input" data-for="pub:Publication" type="text" name="isbn">
      </div>

      <div class="form-group">
        Страницы
        <div class="form-inline">
          <label for="pub-page-from">От</label>
          <input id="pub-page-from" data-for="pub:Publication" class="form-control mini" type="text" name="pageFrom"></input>
          <label for="pub-page-to">До</label>
          <input id="pub-page-to" data-for="pub:Publication" class="form-control input" type="text" name="pageTo"></input>
        </div>
      </div>
    </div>

    <div class="form-group" toggle-by="more-pub-checkbox" need-option="true">
      <label for="pub-city-input">Город</label>
      <%= widget("SearchLine", citiesInputOptions, "pub-city-input") %>
      <input id="pub-city-input-id" data-for="city:City" hidden type="id" name="id">
    </div>
  </div>

  <div hidden>
    <input class="form-control" id="research-input-name" data-for="rs:Research" type="text" name="name">
    <input class="form-control" id="research-input-year" data-for="rs:Research" type="text" name="year">
    <input class="form-control" id="research-type" value="3" data-for="rt:ResearchType" type="id" name="id">
  </div>
</script>

<!-- Форма для добавления культуры -->
<script type="text/template" class="add-culture">
  <div class="form-group">
    <label for="culture-name-input">Новая культурная принадлежность</label>
    <input id="culture-name-input" class="form-control" data-for="c:Culture" type="text" name="name">
  </div>
</script>