<div class="content">
  <h2><%= t('research.new') %></h2>
  <button class="send-button btn btn-primary">
    <i class="fa fa-cogs"></i>
    <%= t('common.create') %>
  </button>

  <div id="container">
    <ul>
      <li><a href="#home"><%= t('research.singular') %></a></li>
      <li><a href="#monument"><%= t('monument.singular') %></a></li>
      <li><a href="#exc"><%= t('excavation.plural') %></a></li>
      <li><a href="#culture"><%= t('culture.plural') %></a></li>
    </ul>

    <div id="home">
      <legend><%= t('research.info') %></legend>

      <div class="form-group find-author">
        <h4><%= t('common.formAuthor') %></h4>
        <label for="author-input"><%= t('author.name') %> <span class="required">*</span></label>
        <%= widget("SearchLine", authorsInputOptions, "author-input") %>
        <input id="author-input-id" data-for="author:Author" hidden type="id" name="id" data-req="up">
      </div>

      <button class="btn btn-primary btn-new-coauthor">
        <i class="fa fa-cogs"></i>
        <%= t('author.addCoauthor') %>
      </button>

      <br>
      <br>
      
      <div class="form-group find-pub">
        <h4><%= t('common.choosePub') %></h4>
        <label for="pub-input"><%= t('publication.name') %> <span class="required">*</span></label>
        <input class="form-control" id="pub-input">
        <input id="pub-input-id" data-for="pub:Publication" type="id" hidden name="id" data-req="up">
        <input class="form-control" id="research-input-id" hidden data-for="rs:Research" type="id" name="id">
      </div>

      <div class="form-group" toggle-by="more-pub-checkbox" need-option="true" style="display: none">
        <label for="pub-city-input"><%= t('city.singular') %></label>
        <%= widget("SearchLine", citiesInputOptions, "pub-city-input") %>
        <input id="pub-city-input-id" data-for="city:City" hidden type="id" name="id">
      </div>

      <button class="btn btn-primary btn-next" active="1">
        <i class="fa fa-cogs"></i>
        <%= t('common.next') %>
      </button>
    </div>

    <div id="monument">
      <legend><%= t('monument.infoPlural') %></legend>

      <button id="add-monument-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('monument.add1') %>
      </button>

      <button class="send-button btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('common.create') %>
      </button>
    </div>

    <div id="exc">
      <legend><%= t('excavation.infoPlural') %></legend>

      <button id="add-exc-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('excavation.add') %>
      </button>
    </div>

    <div id="culture">
      <button id="add-culture-button" class="btn btn-primary">
        <i class="fa fa-cogs"></i>
        <%= t('culture.add') %>
      </button>
    </div>
  </div>
</div>

<div id="map" class="maps"></div>

<!-- Создание нового автора -->
<script type="text/template" class="add-author">
  <div class="form-group">
    <h4><%= t('common.addAuthor') %></h4>
    <label for="author-name-input"><%= t('author.name') %> <span class="required">*</span></label>
    <input class="form-control" id="author-name-input" data-for="author:Author" type="text" name="name" data-req>
  </div>

  <div class="checkbox">
    <label>
      <input id="more-author-checkbox" type="checkbox" dynamic="true">
      <%= t('author.moreInfo') %>
    </label>
  </div>

  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-birth-date-input"><%= t('author.prop.year') %></label>
    <input class="form-control" id="author-birth-date-input" data-for="author:Author" type="number" name="birthdate">
  </div>
  <div class="form-group" toggle-by="more-author-checkbox" need-option="true">
    <label for="author-photo-input"><%= t('photo.singular') %></label>
    <input id="author-photo-input" accept="image/jpeg,image/x-png" data-for="aimg:Image" type="file" name="fileid" data-subclass="AuthorImage">
    <br>
    <div class="alert alert-dismissible alert-info">
      <%= t('examples.maxSizePhoto') %>.
    </div>
  </div>
</script>

<!-- Создание новой публикации и исследования -->
<script type="text/template" class="add-pub">
  <h4><%= t('publication.new') %></h4>

  <div class="form-group">
    <label for="pub-name-input"><%= t('publication.name') %><span class="required">*</span></label>
    <input class="form-control" id="pub-name-input" data-for="pub:Publication" type="text" name="name" data-req>
  </div>
  <div class="form-group">
    <label for="pub-year-input"><%= t('publication.prop.year') %><span class="required">*</span></label>
    <input class="form-control" id="pub-year-input" data-for="pub:Publication" type="number" name="published_at" data-req>
  </div>

  <div class="form-group">
    <label for="pub-type-selector"><%= t('publication.type') %></label>
    <select class="form-control" id="pub-type-selector" data-for="pt:PublicationType" type="id" name="id" dynamic="true"></select>
  </div>

  <div class="form-group">
    <label for="research-input-desc"><%= t('research.description') %> </label>
    <textarea class="form-control" id="research-input-desc" data-for="rs:Research" type="text" name="description"></textarea>
  </div>
  
  <div class="form-group">
    <label for="pub-file-input"><%= t('publication.file') %></label>
    <input id="pub-file-input" accept=".pdf,.doc,.docx" type="file" data-for="pub:Publication" name="fileid">
    <div class="alert alert-dismissible alert-info">
      <%= t('examples.maxSizeDoc') %>.
    </div>
  </div>
  
  <div class="checkbox">
    <label for="more-pub-checkbox">
      <input id="more-pub-checkbox" type="checkbox" dynamic="true">
      <%= t('publication.more') %>
    </label>
  </div>

  <div class="form-group" toggle-by="more-pub-checkbox" need-option="true">
    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="publisher-input"><%= t('publication.prop.publisher') %></label>
      <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="isbn-input"><%= t('publication.prop.isbn') %></label>
      <input class="form-control isbn-input autoinput" id="isbn-input" data-for="pub:Publication" type="text" name="isbn">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="1">
      <label for="pages-input"><%= t('publication.prop.pages') %></label>
      <input class="form-control" id="pages-input" data-for="pub:Publication" type="number" name="pages">
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="2">
      <label for="edi-type-selector"><%= t('publication.prop.type') %></label>
      <select class="form-control" id="edi-type-selector" data-for="et:EditionType" type="id" name="id" dynamic="true"></select>
    </div>

    <div class="form-group" toggle-by="pub-type-selector" need-option="2">

      <div class="form-group" toggle-by="edi-type-selector" need-option="2">
        <div class="form-group">
          ><%= t('publication.editCont') %>
          <select class="form-control" id="edi-cont" data-for="pub:Publication" type="number" name="editionContinue" dynamic="true">
            <option value="1"><%= t('common.yes') %></option>
            <option value="2"><%= t('common.no') %></option>
          </select>
        </div>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="edi-name-input"><%= t('publication.prop.jourName') %></label>
        <input class="form-control edi-name-input autoinput" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="2.4.5">
        <label for="edi-name-input"><%= t('publication.prop.collName') %></label>
        <input class="form-control edi-name-input autoinput" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="3">
        <label for="edi-name-input"><%= t('publication.prop.monogrName') %></label>
        <input class="form-control edi-name-input autoinput" id="edi-name-input" data-for="pub:Publication" type="text" name="editionName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-name-input"><%= t('publication.confName') %></label>
        <input class="form-control" id="conf-name-input" data-for="pub:Publication" type="text" name="conferenceName">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-start-date"><%= t('publication.confDateStart') %></label>
        <input class="form-control date-picker" id="conf-start-date" data-for="pub:Publication" type="text" name="conferenceStartDate"></input>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="4.5">
        <label for="conf-end-date"><%= t('publication.confDateEnd') %></label>
        <input class="form-control date-picker" id="conf-end-date" data-for="pub:Publication" type="text" name="conferenceEndDate"></input>
      </div>

      <div class="form-group" toggle-by="edi-cont" need-option="1">
        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="edi-series-name-input"><%= t('publication.seriesName') %></label>
          <input class="form-control" id="edi-series-name-input" data-for="pub:Publication" type="text" name="editionSeriesName">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="publisher-input"><%= t('publication.prop.publisher') %></label>
          <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="edition-input"><%= t('publication.prop.edition') %></label>
          <input class="form-control" id="edition-input" data-for="pub:Publication" type="text" name="edition">
        </div>

        <div class="form-group" toggle-by="edi-type-selector" need-option="2">
          <label for="num-overall-input">№</label>
          <input class="form-control" id="num-overall-input-input" data-for="pub:Publication" type="number" name="numOverall">
        </div>
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="publisher-input"><%= t('publication.prop.publisher') %></label>
        <input class="form-control" id="publisher-input" data-for="pub:Publication" type="text" name="publisher">
      </div>

      <div class="form-group">
        <label for="volume-input"><%= t('publication.prop.volume') %></label>
        <input class="form-control" id="volume-input" data-for="pub:Publication" type="text" name="volume">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="edition-input"><%= t('publication.prop.edition') %></label>
        <input class="form-control" id="edition-input" data-for="pub:Publication" type="text" name="edition">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="num-overall-input">№ (<%= t('common.common') %>)</label>
        <input class="form-control" id="num-overall-input-input" data-for="pub:Publication" type="number" name="numOverall">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="num-year-input">№ (<%= t('common.year1') %>)</label>
        <input class="form-control" id="num-year-input-input" data-for="pub:Publication" type="number" name="numYear">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="1">
        <label for="issn-input"><%= t('publication.prop.issn') %></label>
        <input class="form-control" id="issn-input" data-for="pub:Publication" type="text" name="issn">
      </div>

      <div class="form-group" toggle-by="edi-type-selector" need-option="2.3.4.5">
        <label for="isbn-input"><%= t('publication.prop.isbn') %></label>
        <input class="form-control isbn-input autoinput" id="isbn-input" data-for="pub:Publication" type="text" name="isbn">
      </div>

      <div class="form-group">
        <%= t('LiteratureRef.prop.pages') %>
        <div class="form-inline">
          <label for="pub-page-from"><%= t('date.from') %></label>
          <input id="pub-page-from" data-for="pub:Publication" class="form-control mini" type="text" name="pageFrom"></input>
          <label for="pub-page-to"><%= t('date.to') %></label>
          <input id="pub-page-to" data-for="pub:Publication" class="form-control input" type="text" name="pageTo"></input>
        </div>
      </div>
    </div>
  </div>

  <div hidden>
    <input class="form-control" id="research-input-name" data-for="rs:Research" type="text" name="name">
    <input class="form-control" id="research-input-year" data-for="rs:Research" type="number" name="year">
    <input class="form-control" id="research-type" value="3" data-for="rt:ResearchType" type="id" name="id">
  </div>
</script>

<!-- Форма для добавления культуры -->
<script type="text/template" class="add-culture">
  <div class="form-group">
    <label for="culture-name-input"><%= t('common.newCulture') %></label>
    <input id="culture-name-input" class="form-control" data-for="c:Culture" type="text" name="name">
  </div>
</script>