<h4 class="accordion-header" id="exc-header-<%= excId %>">
  <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
  Вскрытие №<%= excId %>
</h4>

<div class="accordion-content" data-custom-relations="exc_<%= excId %>:Monument">
  <div class="form-group">
    <label for="excavation-name-input-<%= excId %>">Название</label>
    <input class="form-control" id="excavation-name-input-<%= excId %>" data-for="exc_<%= excId %>:Excavation" type="text" name="name"></select>
  </div>
  <div class="form-group">
    <label for="excavation-boss-input-<%= excId %>"><%= t('excavation.boss') %></label>
    <input class="form-control" id="excavation-boss-input-<%= excId %>" data-for="exc_<%= excId %>:Excavation" type="text" name="boss"></select>
  </div>
  <div class="form-group">
    <label for="excavation-area-input-<%= excId %>">Вскрытая площадь (<%= t('common.metresInSq') %>)</label>
    <input class="form-control" id="excavation-area-input-<%= excId %>" data-for="exc_<%= excId %>:Excavation" type="number" name="area"></select>
  </div>

  <input class="form-control" id="exc-spatref-date" data-for="esr_<%= excId %>:SpatialReference" data-subclass="ExcSpatRef" type="number" name="date" data-need-date hidden></input>

  <div class="form-group">
    <label for="exc-spatref-selector"><%= t('common.accuracy') %></label>
    <select class="form-control" id="exc-spatref-selector-<%= excId %>" data-for="esrt_<%= excId %>:SpatialReferenceType" data-subclass="ExcSpatRefType" type="id" name="id"></select>
  </div>

  <div id="exc-coord-picker-<%= excId %>" class="coords">
    <div class="form-group">
      <label for="exc-x">
        N
      </label>
      <input class="form-control" id="exc-x-<%= excId %>" data-for="esr_<%= excId %>:SpatialReference" data-subclass="ExcSpatRef" type="number" name="x"></input>
    </div>
    <div class="form-group">
      <label for="exc-y">
        E
      </label>
      <input class="form-control" id="exc-y-<%= excId %>" data-for="esr_<%= excId %>:SpatialReference" data-subclass="ExcSpatRef" type="number" name="y"></input>
    </div>
  </div>

  <div class="form-group exc-belongs" id="exc-belongs-<%= excId %>" data-exc-id="<%= excId %>">
    <%= t('common.belongsToSites') %>:
  </div>
</div>