<div class="content">  
  <h2><%= t("excavation.info") %> "<%= maybe(excavation.name, t('common.withoutName')) %>"</h2>
  
  <div class="tabs">
    <ul>
      <li><a href="#general"><%= t('common.general') %></a></li>
      <li><a href="#monuments"><%= t('monument.plural') %></a></li>
      <li><a href="#artifacts"><%= t('artifact.plural') %></a></li>
      <li><a href="#radiocarbon"><%= t('radiocarbon.plural') %></a></li>
      <li><a href="#report"><%= t('report.singular') %></a></li>
      <li><a href="#another">*</a></li>
    </ul>

    <div id="general">
      <dt><%= t('research.singular') %>:</dt>
      <dd><%= App.models.Research.href(researches[0].id, ctl(researches[0].name)) %></dd>

      <dt><%= t('research.year') %>:</dt>
      <dd><%= researches[0].year %></dd>

      <dt><%= t('research.author') %>:</dt>
      <dd><%= App.models.Author.href(author[0].id, ctl(author[0].name)) %></dd>

      <dt><%= t('excavation.boss') %>:</dt>
      <dd><%= maybe(excavation.boss, t('common.unknown1')) %></dd>

      <dt><%= t('excavation.area1') %>:</dt>
      <dd><%= maybe(excavation.area, t('common.unknown1')) %></dd>

      <dt><%= t('artifact.number') %>:</dt>
      <dd><%= _.size(artifacts) %></dd>
    </div>

    <div id="monuments">
      <div class="accordion">
        <% _.each(monuments, function(mon, i) { %>
          <h4 class="accordion-header">
            <%= t("monument.singular") %> №<%= i+1 %>
          </h4>

          <div class="accordion-content">
            <dl>
              <dd><%= App.models.Monument.href(mon.id, t('goto.monument')) %></dd>

              <dt><%= t('monument.names') %>:</dt>
              <dd><%= ctl(_.pluck(knowledges[i], "monument_name").join(", ")) %></dd>

              <dt><%= t('monument.prop.epoch') %>:</dt>
              <dd><%= maybe(epochs[i], t('common.noData'), "name") %></dd>

              <dt><%= t('monument.type') %>:</dt>
              <dd><%= maybe(monTypes[i], t('common.noData'), "name") %></dd>
            </dl>
          </div>
        <% }) %>
      </div>
    </div>

    <div id="artifacts">
      <%= _.map(artifacts, function(art, t) {
        let title = `${art.name}`;
        return App.models.Artifact.href(art.id, ctl(title));
      }).join(", <br>")%>
    </div>

    <div id="radiocarbon">
      <%= _.compact(_.map(carbon, function(car, i) {
        let title = `${car.name} (date: ${car.date})`;
        return App.models.Radiocarbon.href(car.id, ctl(title));
      })).join(", <br>") %>
    </div>

    <div id="report">
    </div>

    <div id="another">
    </div>
  </div>

</div> 

<div id="map" class="maps"></div>
